$black: #000;
$white: #fff;
$red: #ff4e4e;
$grey-bg: #f5f5f5;
$primary: #008ee3;
$text-green: #4faa3a;
$text-color: #262626;

a {
  outline: none;
  color: $primary;
  text-decoration: none;
}
a:focus,
a:hover,
.btn:focus {
  box-shadow: none;
  text-decoration: none;
}
a:visited {
  color: darken($primary, 10%);
}

@mixin flex-center {
  align-items: center;
  justify-content: center;
}

@mixin flex-h-flexstart {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

@mixin flex-h-flexend {
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

@mixin flex-h-space-between {
  align-items: center;
  justify-content: space-between;
}

@mixin flex-align-center {
  align-items: center;
}

body {
  font-size: 0.7rem;
  background-color: $grey-bg;
}

input[type="text"],
select,
textarea,
button {
  -webkit-appearance: none;
}

select {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 14l-4-4h8z'/%3E%3C/svg%3E")
    no-repeat;
  background-size: 40px;
  background-position: right 10px center;
}

.menu {
  li {
    &:first-child {
      margin-top: 0;
    }
  }
}

.btn {
  border-color: $primary !important;
}

.btn.btn-primary {
  background: $primary !important;
}

.btn.btn-primary:focus,
.btn.btn-primary:hover {
  background: darken($primary, 4%) !important;
  border-color: darken($primary, 4%) !important;
}

.bg-primary {
  background: $primary !important;
}

.container {
  max-width: 1442px;
}

.site-header {
  .cols {
    padding: 0 15px;
  }
  &__top {
    padding: 8px 0;
    background-color: #000e17;
    .cols {
      @include flex-h-flexend();
    }
  }

  .site-header--nav {
    .btn {
      height: auto;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      border-radius: 20px;
      padding: 0.25rem 0.7rem;
    }
    .dropdown {
      .dropdown-toggle {
        padding-right: 25px;
        &:after {
          position: absolute;
          content: "";
          top: 50%;
          right: 10px;
          height: 0;
          width: 0;
          border-left: 0.3em solid transparent;
          border-right: 0.3em solid transparent;
          border-top: 0.3em solid currentColor;
          transform: translateY(-50%);
        }
      }
      .menu {
        padding: 0;
        margin-top: 5px;
        > li {
          margin: 0;
          > a {
            color: $black;
            display: block;
            padding: 8px 10px;
            transition: 0.2s ease;
            &:hover {
              color: $black;
              background-color: rgba($black, 0.1);
            }
          }
        }
      }
    }
  }

  &__currency {
    margin-right: 20px;
  }

  .site-header--option {
    margin-left: 20px;
    &__icon {
      margin-left: 20px;
      > img {
        max-width: 30px;
      }
      .count {
        top: -5px;
        right: -8px;
        z-index: 3;
        width: 18px;
        height: 18px;
        font-size: 0.5rem;
        font-weight: 600;
        @include flex-center();
        background-color: $red;
      }
    }
  }

  &__bottom {
    padding: 20px 0;
    background-color: $primary;
    .cols {
      @include flex-h-space-between();
    }
    .logo {
      img {
        max-width: 255px;
      }
    }
    &-right {
      @include flex-align-center();
      .site-user-info {
        &__icon {
          width: 45px;
          height: 45px;
          padding: 10px;
          background-color: rgba($black, 0.5);
        }
        &__name {
          .dropdown-toggle {
            font-size: 16px;
            padding-right: 30px;
            @include flex-align-center();
            &:after {
              position: absolute;
              content: "";
              top: 50%;
              right: 10px;
              height: 0;
              width: 0;
              margin-top: 1px;
              border-left: 0.4em solid transparent;
              border-right: 0.4em solid transparent;
              border-top: 0.4em solid currentColor;
              transform: translateY(-50%);
            }
          }
          .menu {
            padding: 0;
            margin-top: 5px;
            > li {
              margin: 0;
              > a {
                color: $black;
                display: block;
                padding: 8px 10px;
                transition: 0.2s ease;
                &:hover {
                  color: $black;
                  background-color: rgba($black, 0.1);
                }
              }
            }
          }
        }
      }
      .site-notification {
        margin-left: 75px;
        .dropdown {
          .dropdown-toggle {
            > img {
              max-width: 30px;
            }
            .count {
              top: -5px;
              right: -5px;
              z-index: 3;
              width: 18px;
              height: 18px;
              font-size: 0.5rem;
              font-weight: 600;
              @include flex-center();
              background-color: $red;
            }
          }
          .menu {
            padding: 0;
            margin-top: 5px;
            min-width: 350px;
            max-height: 300px;
            overflow-y: auto;
          }
          .noti-item {
            padding: 10px;
            color: $text-color;
            @include flex-align-center();
            transition: 0.2s ease;
            &:hover {
              background-color: rgba($black, 0.1);
            }
            &__img {
              width: 60px;
              height: 60px;
              flex: 0 0 60px;
              max-width: 60px;
              margin-right: 10px;
              @include flex-center();
              background-color: rgba($black, 0.5);
              img {
                max-width: 60px;
                max-height: 60px;
              }
            }
            &__title {
              font-size: 15px;
              line-height: 18px;
              margin-bottom: 3px;
            }
            &__date {
              color: rgba($black, 0.5);
            }
          }
        }
      }
    }
  }
}

.page-wrapper {
  padding: 45px 0;
}

.category-listing {
  .sidebar {
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.5);
    .sidebar-block {
      padding: 20px 15px;
      border-bottom: 1px solid #d9d9d9;
      &.no-padding {
        padding: 0;
      }
      &:last-child {
        border-bottom: none;
      }
      &__head {
        font-size: 16px;
        font-weight: 600;
        padding: 15px 20px;
        border-bottom: 1px solid #d9d9d9;
      }
      &__title {
        color: $black;
        font-size: 25px;
        font-weight: bolder;
        margin-bottom: 12px;
      }
      &__list {
        margin: 0;
        list-style: none;
        > li {
          clear: both;
          label {
            color: $black;
            display: block;
            font-size: 18px;
            font-weight: 600;
            font-style: italic;
          }
          a {
            color: $black;
            font-size: 16px;
            font-weight: 600;
            display: block;
            span {
              color: $text-green;
              float: right;
            }
          }
        }
      }
    }
    .sidebar-categories {
      margin: 0;
      padding: 15px;
      list-style: none;
      li {
        margin: 0;
      }
      &__item {
        position: relative;
        z-index: 2;
        &.parent {
          > .cat-name {
            padding-left: 25px;
          }
        }
        .cat-name {
          display: flex;
          font-size: 16px;
          color: $text-color;
          margin-bottom: 10px;
          @include flex-align-center();
          &__icon {
            padding: 5px;
            width: 30px;
            height: 30px;
            background-color: #e0e0d1;
          }
          strong {
            font-weight: 600;
          }
        }
      }
      &__icon {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 0;
        width: 14px;
        height: 14px;
        z-index: -1;
        border-top: 8px solid $text-color;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
      }
      &__checkbox {
        cursor: pointer;
        position: absolute;
        top: 5px;
        left: 0;
        opacity: 0;
        width: 18px;
        height: 18px;
        &:checked {
          ~ .sub-cat {
            display: block;
          }
        }
      }
      .sub-cat {
        display: none;
        padding-left: 45px;
        .cat-name {
          color: lighten($text-color, 40%);
        }
        .sidebar-categories__item {
          &.parent {
            margin-left: -25px;
          }
        }
      }
    }
    .agent-block {
      padding: 10px;
      border-radius: 4px;
      align-items: center;
      border: 1px solid rgba($black, 0.1);
      &__img {
        padding: 5px;
        width: 60px;
        height: 60px;
        flex-wrap: wrap;
        @include flex-center();
        background-color: rgba($black, 0.85);
        > img {
          max-width: 50px;
          max-height: 50px;
        }
      }
      &__desc {
        font-size: 15px;
        font-weight: 600;
        padding-left: 10px;
        line-height: 20px;
        p {
          margin: 0;
        }
      }
      &__name {
        margin: 0;
        font-size: 15px;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }

  .product-filters {
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.5);
    .cols {
      padding: 0 8px;
      @include flex-align-center();
    }
    &__searchbox {
      input[type="text"] {
        border: none;
        height: 55px;
        width: 100%;
        font-size: 15px;
        padding: 0 10px;
        font-weight: 600;
      }
    }
    &__dropdown {
      position: relative;
      &:before,
      &:after {
        position: absolute;
        content: "";
        top: 10px;
        bottom: 10px;
        width: 1px;
        background-color: #d9d9d9;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
      select {
        border: none;
        height: 55px;
        width: 100%;
        font-size: 15px;
        padding: 0 10px;
        font-weight: 600;
      }
    }
    &__sorting {
      @include flex-align-center();
      > label {
        font-size: 16px;
        font-weight: 600;
      }
      .custom-select {
        position: relative;
        flex-grow: 1;
        z-index: 2;
        width: 135px;
        max-width: 100%;
        background: #f5f5f5;
        margin-left: 10px;
        &:after {
          position: absolute;
          content: "";
          width: 35px;
          height: 35px;
          top: 0;
          right: 0;
          z-index: -1;
          background: #cccccc
            url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 14l-4-4h8z'/%3E%3C/svg%3E")
            no-repeat;
          background-position: center right -2px;
          background-size: 40px;
        }
      }
      select {
        border: none;
        height: 35px;
        width: 100%;
        font-size: 15px;
        padding: 0 5px;
        font-weight: 600;
        padding-right: 40px;
        background: transparent;
      }
    }
    &__action {
      .btn {
        width: 100%;
        height: 40px;
        &.btn-primary {
          border-color: lighten($black, 10%) !important;
          background: lighten($black, 10%) !important;
          &:hover,
          &:focus {
            border-color: lighten($black, 5%) !important;
            background: lighten($black, 5%) !important;
          }
        }
      }
    }
  }
}

.stars {
  background: url("../images/stars.png") repeat-x 0 0/20px;
  width: 100px;
  margin: 0 auto;
  transform: scale(0.9);
}

.stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}

.stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}

.stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}

.stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}

.stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}

.stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}

.stars label:hover ~ span {
  background-position: 0 -50px;
}

.stars label.star-5:hover ~ span {
  width: 100% !important;
}

.stars label.star-4:hover ~ span {
  width: 80% !important;
}

.stars label.star-3:hover ~ span {
  width: 60% !important;
}

.stars label.star-2:hover ~ span {
  width: 40% !important;
}

.stars label.star-1:hover ~ span {
  width: 20% !important;
}

.stars label:hover ~ span {
  background-position: 0 -50px;
}

.stars.stars-5 span {
  width: 100% !important;
}

.stars.stars-4 span {
  width: 80% !important;
}

.stars.stars-3 span {
  width: 60% !important;
}

.stars.stars-2 span {
  width: 40% !important;
}

.stars.stars-1 span {
  width: 20% !important;
}

.stars label {
  display: block;
  width: 20px;
  height: 20px;
  margin: 0 !important;
  padding: 0 !important;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent !important;
  cursor: pointer;
}
.stars span {
  position: relative;
  display: block;
  width: 0;
  top: 0;
  left: 0;
  height: 20px;
  background: url("../images/stars.png") repeat-x 0 -50px/20px;
  transition: width 0.5s;
}

.product-grid {
  padding: 15px 0;
  .product-item {
    overflow: hidden;
    margin-bottom: 15px;
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.5);
    &__img {
      overflow: hidden;
      max-height: 224px;
      img {
        width: 100%;
        object-fit: cover;
        transition: 0.5s ease;
        transform: scale(1);
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    &__cat,
    &__offer {
      color: $white;
      font-weight: 600;
      padding: 2px 10px;
      background-color: rgba($primary, 0.5);
    }
    &__cat {
      top: 0;
      right: 0;
    }
    &__offer {
      bottom: 0;
      right: 0;
    }
    &__info {
      padding: 10px;
      text-align: center;
    }
    &__name {
      display: block;
      font-size: 16px;
      color: $black;
      overflow: hidden;
      font-weight: 600;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .product-review {
      margin: 5px 0;
      span {
        font-size: 16px;
        color: $black;
        font-weight: 600;
      }
    }
    &__price {
      font-weight: 600;
      margin-bottom: 8px;
      @include flex-center();
      .old-price {
        color: $primary;
        font-size: 18px;
        margin-right: 5px;
        text-decoration: line-through;
      }
      .new-price {
        color: $text-green;
        font-size: 22px;
      }
      .euro-price {
        font-size: 14px;
        margin-left: 5px;
        color: lighten($black, 45%);
      }
    }
    &__action {
      .btn {
        height: auto;
        padding: 2px 10px;
        font-weight: 600;
        font-size: 15px;
        color: lighten($text-color, 30%);
        text-transform: uppercase;
        &.btn-primary {
          border-color: lighten($black, 80%) !important;
          background: lighten($black, 80%) !important;
          &:hover,
          &:focus {
            border-color: lighten($black, 70%) !important;
            background: lighten($black, 70%) !important;
          }
        }
      }
    }
  }
}

.product-list {
  margin-bottom: 140px;
}

.pagination-wrap {
  @include flex-center();
  .pagination {
    padding: 10px 12px;
    text-align: center;
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.5);
    .page-item {
      margin: 0.2rem 0.1rem;
      a {
        padding: 0.4rem;
        min-width: 30px;
        font-weight: 600;
        color: lighten($text-color, 30%);
        background-color: #f5f5f5;
        transition: 0.2s ease;
        &:hover {
          background-color: darken(#f5f5f5, 5%);
        }
      }
      &.active {
        a {
          color: $white;
          background-color: $primary;
        }
      }
    }
  }
}

.site-footer {
  padding: 30px 0;
  background-color: $white;
  border-top: 3px solid $primary;
  box-shadow: 0 0 5px -4px rgba($black, 0.5);
  .cols {
    @include flex-align-center();
  }
  .footer-block {
    &__title {
      font-size: 25px;
      font-weight: 600;
      margin: 0 0 20px 0;
      color: darken($primary, 20%);
    }
    &__nav {
      ul {
        margin: 0;
        width: 208px;
        max-width: 100%;
        list-style: none;
        li {
          margin-top: 10px;
          a {
            position: relative;
            color: $black;
            font-size: 16px;
            font-weight: 500;
            padding-left: 25px;
            &:before {
              position: absolute;
              content: "";
              top: 5px;
              left: 0;
              width: 10px;
              height: 10px;
              border-left: 2px solid $black;
              border-bottom: 2px solid $black;
              transform: rotate(-135deg);
            }
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  .footer-logo {
    text-align: center;
    a {
      display: inline-block;
    }
  }
}

/*----------------------------
  PRODUCT DETAIL PAGE
-----------------------------*/

.category-detail {
  &__inner {
    padding: 10px;
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.5);
  }
  .product-carousel {
    position: relative;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    &__img {
      width: 100%;
      min-height: 280px;
      background: url("../images/1.jpeg") no-repeat center/cover;
    }
    input[type="radio"] {
      position: absolute;
      left: 0;
      bottom: 0;
      opacity: 0;
      height: 80px;
      flex: 0 0 25%;
      margin-top: 8px;
      cursor: pointer;
      width: calc(25% - 5px);
      &#img-carousel1 {
        &:checked {
          & + img {
            border-color: $red;
          }
          ~ .product-carousel__img {
            background: url("../images/1.jpeg") no-repeat center/cover;
          }
        }
      }
      &#img-carousel2 {
        left: 25%;
        &:checked {
          & + img {
            border-color: $red;
          }
          ~ .product-carousel__img {
            background: url("../images/2.jpeg") no-repeat center/cover;
          }
        }
      }
      &#img-carousel3 {
        left: 50%;
        &:checked {
          & + img {
            border-color: $red;
          }
          ~ .product-carousel__img {
            background: url("../images/3.jpg") no-repeat center/cover;
          }
        }
      }
      &#img-carousel4 {
        left: 75%;
        &:checked {
          & + img {
            border-color: $red;
          }
          ~ .product-carousel__img {
            background: url("../images/4.jpg") no-repeat center/cover;
          }
        }
      }
    }
    &__thumb {
      cursor: pointer;
      margin-top: 8px;
      max-height: 80px;
      object-fit: cover;
      width: calc(25% - 5px);
      flex: 0 0 calc(25% - 5px);
      border: 2px solid transparent;
    }
  }
  .rating-wrapper {
    padding: 12px 0;
    flex-wrap: wrap;
    margin-top: 10px;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    justify-content: space-between;
    .stars {
      margin-left: 0;
    }
    .rating-count {
      color: $primary;
      font-size: 13px;
    }
  }
  .price-wrapper {
    padding: 5px 0;
    @include flex-align-center();
    justify-content: space-between;
    border-bottom: 1px solid #eeeeee;
    &__label {
      font-size: 13px;
      text-transform: uppercase;
    }
    .current-price {
      margin: 0 5px;
      color: $primary;
      font-size: 35px;
      font-weight: 600;
      line-height: 35px;
      display: inline-block;
    }
    .euro-price {
      font-size: 25px;
      font-weight: 600;
      line-height: 20px;
      display: inline-block;
      vertical-align: top;
      color: lighten($black, 60%);
    }
  }

  .qty-wrapper {
    .qty-item {
      padding: 10px 0;
      flex-wrap: wrap;
      align-items: center;
      &__label {
        font-size: 16px;
        font-weight: 600;
        color: lighten($black, 60%);
      }
      &__input {
        width: 80px;
        height: 35px;
        margin: 0 10px;
        padding: 0 10px;
        font-size: 16px;
        font-weight: 500;
        color: $white;
        border: 1px solid #d8d8d8;
        background-color: $primary;
      }
      &__more {
        color: $black;
        font-size: 15px;
        font-weight: 600;
      }
    }
    &__actions {
      margin-top: 10px;
      .btn {
        display: flex;
        height: auto;
        width: 100%;
        min-height: 55px;
        font-weight: 600;
        text-transform: uppercase;
        @include flex-center();
        > img {
          max-width: 30px;
          margin-right: 10px;
        }
      }
    }
    &__bottom {
      margin-top: 15px;
      justify-content: space-between;
      .btn {
        width: calc(50% - 10px);
      }
    }
  }
}

.category-product-info {
  .category-tabs {
    position: relative;
    flex-wrap: wrap;
  }
  .category-tabs > .category-tab-content {
    position: relative;
    order: 999;
    width: 100%;
    padding: 25px;
    display: none;
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.5);
  }
  .category-tabs > input {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    cursor: pointer;
  }
  .category-tabs > input[type="radio"]:checked + label + .category-tab-content {
    display: unset;
  }
  .category-tabs > label {
    position: relative;
    cursor: pointer;
    z-index: 3;
    font-size: 15px;
    font-weight: 600;
    padding: 12px 20px;
    margin-right: 10px;
    background: #d9d9d9;
    text-transform: uppercase;
    color: lighten($black, 40%);
    box-shadow: 0 -2px 5px -5px rgba($black, 0.5);
  }
  .category-tabs > input[type="radio"]:checked + label {
    color: $primary;
    background: $white;
  }

  .block-title {
    color: $primary;
    font-size: 24px;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 25px;
  }

  .product-details {
    justify-content: space-between;
  }
  .product-detail-list {
    list-style: none;
    width: 200px;
    margin: 0;
    max-width: 100%;
    li {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      font-size: 16px;
      margin-bottom: 15px;
      justify-content: space-between;
      strong {
        color: $primary;
        font-weight: 600;
      }
    }
  }
  .product-description {
    padding: 25px 0;
    margin-top: 25px;
    border-top: 1px solid #eeeeee;
    &__text {
      color: $black;
      font-size: 17px;
    }
  }

  .sku-info {
    text-align: right;
    span {
      display: block;
    }
    &__number {
      color: #000e17;
      font-size: 17px;
      font-weight: 600;
      margin-bottom: 5px;
    }
    &__date {
      font-size: 13px;
      text-transform: uppercase;
      color: lighten($black, 40%);
    }
  }

  .review-wrapper {
    .review-item {
      padding: 10px;
      margin-bottom: 20px;
      background-color: #f5f5f5;
      box-shadow: 0px 0px 3px -2px rgba($black, 0.5);
      &__text {
        color: $black;
        font-size: 17px;
        margin-bottom: 10px;
      }
      .stars {
        margin-left: -5px;
      }
    }
  }
}

.similar-products {
  margin-top: 45px;
  .product-grid {
    padding-top: 0;
  }
}

.section-title {
  padding: 25px 0;
  text-align: center;
  &__h2 {
    margin: 0;
    color: $black;
    font-size: 38px;
  }
}

/*----------------------------
  RESPONSIVE DESIGN
-----------------------------*/
@media screen and (max-width: 1480px) {
  .container {
    max-width: 1280px;
  }
  .category-listing {
    .product-filters {
      &__sorting {
        > label {
          white-space: nowrap;
        }
      }
    }
  }
}
@media screen and (max-width: 1280px) {
  .category-listing {
    .product-filters {
      padding: 10px;
      &__searchbox {
        input[type="text"] {
          border: 1px solid #d8d8d8;
          height: 40px;
        }
      }
      &__dropdown {
        select {
          border: 1px solid #d8d8d8;
          height: 40px;
        }
        &:after {
          display: none;
        }
      }
      &__sorting {
        margin-top: 20px;
      }
      &__action {
        margin-top: 20px;
      }
    }
  }
  .site-footer {
    .container {
      padding: 0 15px;
    }
  }
}

@media screen and (max-width: 960px) {
  .site-footer {
    .footer-block {
      margin-bottom: 40px;
    }
    .footer-logo {
      text-align: left;
    }
  }
  .category-product-info {
    .category-tabs {
      > .category-tab-content {
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 840px) {
  .container {
    padding: 0 15px;
  }
  .site-header {
    .cols {
      padding: 0;
    }
    &__currency {
      margin-right: 10px;
    }
    .site-header--option {
      margin-left: 0;
      &__icon {
        margin-left: 15px;
      }
    }
    &__top {
      padding-right: 5px;
    }
    &__bottom {
      padding: 15px 0;
      .logo {
        img {
          max-width: 195px;
        }
      }
      &-right {
        .site-notification {
          margin-left: 5px;
          .dropdown {
            .menu {
              max-width: 320px;
            }
          }
        }
      }
    }
  }
  .product-list {
    margin-top: 15px;
    margin-bottom: 30px;
  }
  .footer-logo {
    img {
      max-width: 195px;
    }
  }

  .category-detail {
    .product-carousel {
      &__img {
        min-height: 400px;
      }
    }
    &__inner-left {
      margin-bottom: 20px;
    }
    .qty-wrapper {
      &__actions {
        width: 100%;
        max-width: 450px;
      }
    }
  }

  .similar-products {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  .site-header {
    &__bottom {
      .logo {
        img {
          max-width: 145px;
        }
      }
    }
    .site-header--option {
      &__icon {
        > img {
          max-width: 20px;
        }
      }
    }
    &__bottom-right {
      .site-user-info {
        &__icon {
          width: 35px;
          height: 35px;
        }
      }
      .site-notification {
        .dropdown {
          .dropdown-toggle {
            > img {
              max-width: 20px;
            }
          }
        }
      }
    }
  }
  .category-listing {
    .product-filters {
      padding: 15px 5px;
      [class^="product-filters"] {
        margin: 0;
        margin-bottom: 15px;
        &:last-child {
          margin-bottom: 0;
        }
        &:before,
        &:after {
          display: none;
        }
      }
      &__sorting {
        flex-wrap: wrap;
        > label {
          display: block;
          margin-bottom: 5px;
        }
        .custom-select {
          display: block;
          width: 100%;
          flex: 0 0 100%;
          margin-left: 0;
        }
      }
    }
  }
  .footer-logo {
    img {
      max-width: 145px;
    }
  }

  .category-detail {
    .product-carousel {
      &__img {
        min-height: 250px;
      }
    }
    .price-wrapper {
      .current-price {
        font-size: 25px;
        line-height: 25px;
      }
      .euro-price {
        font-size: 15px;
      }
    }
    .qty-wrapper {
      &__actions {
        .btn {
          font-size: 14px;
          font-weight: 700;
          min-height: 50px;
        }
      }
      &__bottom {
        .btn {
          width: calc(50% - 5px);
        }
      }
    }
  }

  .category-product-info {
    .block-title {
      font-size: 20px;
      line-height: 22px;
      margin-bottom: 20px;
    }
    .product-description {
      &__text {
        font-size: 16px;
      }
    }
    .product-details {
      flex-direction: column-reverse;
    }
    .sku-info {
      text-align: left;
      margin-bottom: 20px;
    }
    .review-wrapper {
      .review-item {
        &__text {
          font-size: 16px;
        }
      }
    }
  }

  .section-title {
    &__h2 {
      font-size: 30px;
    }
  }
}
