@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600&display=swap");

$primary: #046673;
$white: #ffffff;
$black: #1e252f;
$grey: #f1f4f9;
$btn-color: $primary;
$text-color: #353c42;
$icon-color: #7edce4;
$text-color-grey: #6a6f83;
$admin-primary: #3171ff;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align-center {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

table {
  border-collapse: collapse;
}

a {
  color: $text-color;
  text-decoration: none;
}

body {
  color: $text-color;
  overflow-x: hidden;
  background-color: $grey;
  font: normal 16px/1.4 "Manrope", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  appearance: none;
  font: normal 16px/1.4 "Manrope", sans-serif;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.action {
  cursor: pointer;
  color: $white;
  padding: 10px;
  font-size: 16px;
  min-width: 100px;
  font-weight: 500;
  border-radius: 5px;
  @include flex-center();
  transition: 0.2s ease;
  background-color: $primary;
  border: 1px solid transparent;
  &:hover {
    background-color: darken($primary, 3%);
  }
  &.action-outline {
    color: $primary;
    border: 1px solid $primary;
    background-color: transparent;
    &:hover {
      color: $white;
      background-color: $primary;
    }
  }
  &.action-xs {
    display: none !important;
  }
}

.header {
  position: fixed;
  z-index: 1002;
  top: 0;
  right: 0;
  left: 320px;
  padding: 12px 20px;
  background-color: $white;
  box-shadow: 0 0 5px -4px rgba($black, 0.6);
  .row {
    align-items: center;
    justify-content: space-between;
  }
  &__right {
    display: flex;
    align-items: center;
  }
}

.header-search {
  width: 420px;
  max-width: 100%;
  position: relative;
  transition: 0.25s ease;
  &__control {
    width: 100%;
    height: 42px;
    border: none;
    padding: 0 15px;
    font-weight: 500;
    border-radius: 6px;
    color: $text-color;
    background-color: $grey;
    padding-right: 42px;
  }
  &__action {
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    width: 40px;
    opacity: 0.5;
    border: none;
    font-size: 15px;
    line-height: 12px;
    color: $text-color;
    text-align: center;
    background-color: transparent;
    svg {
      width: 20px;
    }
  }
}

.header-noti {
  &__inner {
    cursor: pointer;
    position: relative;
    margin: 0 30px;
  }
  &__icon {
    opacity: 0.5;
    width: 26px;
    height: auto;
    display: block;
  }
  &__count {
    @include flex-center();
    position: absolute;
    top: -7px;
    right: -4px;
    width: 18px;
    height: 18px;
    z-index: 1;
    color: $white;
    font-size: 10px;
    border-radius: 50%;
    text-align: center;
    background-color: $primary;
  }
}

.header-user {
  &__inner {
    @include flex-center();
    cursor: pointer;
    position: relative;
  }
  &__icon {
    width: 45px;
    height: 45px;
    overflow: hidden;
    border-radius: 50%;
    img {
      object-fit: cover;
    }
  }
  &__name {
    position: relative;
    font-weight: 600;
    max-width: 130px;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
    text-overflow: ellipsis;
    color: $text-color;
    padding: 0 30px 0 10px;
    &:after {
      position: absolute;
      content: "";
      top: 6px;
      right: 8px;
      width: 7px;
      height: 7px;
      transform: rotate(45deg);
      border-right: 2px solid $text-color;
      border-bottom: 2px solid $text-color;
    }
  }
}

.main {
  min-height: 100vh;
  padding-left: 320px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 8;
  width: 320px;
  padding: 0 15px;
  overflow-y: auto;
  background-color: $primary;
  box-shadow: 0px 0px 5px -3px rgba($black, 0.6);
  .logo {
    padding: 25px 15px;
    > a {
      @include flex-align-center();
      color: $white;
      font-size: 30px;
      font-weight: 600;
      svg {
        width: 32px;
        height: auto;
        margin-right: 10px;
        stroke: $icon-color;
      }
    }
  }
  .sidebar-menu {
    li {
      position: relative;
      cursor: pointer;
      z-index: 1;
      a {
        display: flex;
        font-weight: 500;
        align-items: center;
        padding: 10px 15px;
        border-radius: 6px;
        color: rgba($white, 0.9);
        justify-content: flex-start;
        > [class^="feather"] {
          width: 22px;
          margin-right: 10px;
          stroke: $icon-color;
        }
      }
      &.parent {
        &:after {
          position: absolute;
          content: "";
          top: 19px;
          right: 20px;
          width: 7px;
          height: 7px;
          transform: rotate(-45deg);
          border-right: 2px solid rgba($white, 0.9);
          border-bottom: 2px solid rgba($white, 0.9);
        }
        &.admin {
          .submenu {
            display: block;
          }
        }
      }
      .submenu {
        display: none;
        padding: 10px;
        .submenu {
          padding: 0 10px;
        }
        > li {
          &:after {
            top: 16px;
            right: 20px;
          }
          a {
            font-size: 15px;
          }
          &.active {
            > a {
              background-color: rgba($black, 0.5);
            }
            &.parent {
              &:after {
                top: 14px;
                transform: rotate(45deg);
              }
            }
          }
        }
      }
    }
    > li {
      &:hover {
        > a {
          background-color: rgba($black, 0.2);
        }
      }
      &.active {
        > a {
          background-color: rgba($black, 0.5);
        }
        &.parent {
          &:after {
            top: 15px;
            border-right-color: $white;
            border-bottom-color: $white;
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .sidebar-option {
    margin: 15px -15px 0;
    padding: 15px 15px 0;
    border-top: 1px solid rgba($black, 0.4);
  }
}

.main-wrapper {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  min-height: calc(100vh - 69px); //fallback;
  min-height: calc(100vh - var(--header-height));
  padding-top: var(--header-height);
  .product-image {
    position: relative;
    width: calc(100% - 790px);
    flex: 0 0 calc(100% - 790px);
    max-width: calc(100% - 790px);
    margin-left: 370px;
    @include flex-center();
    img {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      max-height: 355px;
    }
  }
  .product-info {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 350px;
    z-index: 998;
    border-radius: 5px;
    background-color: $white;
    margin-top: var(--header-height);
    box-shadow: 0 0 5px -4px rgba($black, 0.6);
    &__title {
      font-size: 18px;
      font-weight: 600;
      padding: 10px 15px;
      @include flex-align-center();
      border-bottom: 1px solid rgba($text-color, 0.15);
      svg {
        opacity: 0.9;
        margin-right: 8px;
      }
    }
    &__content {
      padding: 20px;
      max-height: 290px;
      overflow-y: auto;
      > ul {
        li {
          position: relative;
          padding-left: 25px;
          font-weight: 500;
          font-size: 15px;
          z-index: 1;
          &:last-child {
            padding-bottom: 0;
            &:after {
              display: none;
            }
          }
          &:before {
            position: absolute;
            content: "";
            top: 3px;
            left: 0;
            width: 12px;
            height: 12px;
            z-index: 2;
            border-radius: 12px;
            background-color: $white;
            border: 1px solid rgba($text-color, 0.8);
          }
          &:after {
            position: absolute;
            content: "";
            top: 10px;
            left: 7px;
            width: 1px;
            bottom: -5px;
            background-color: rgba($text-color, 0.8);
          }
          &.parent {
            padding-bottom: 15px;
            &:last-child {
              padding-bottom: 0;
            }
          }
          .children {
            margin-top: 15px;
            > li {
              padding-bottom: 5px;
              &:before {
                background-color: $text-color;
              }
              &:after {
                z-index: -1;
              }
              &:last-child {
                padding-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

.cart-sidebar {
  position: fixed;
  top: 69px; //fallback
  top: var(--header-height);
  right: 0;
  bottom: 0;
  width: 420px;
  z-index: 1000;
  overflow-y: auto;
  background-color: $white;
  box-shadow: 0px 0px 5px -3px rgba($black, 0.6);
  .cart-title {
    padding: 10px 15px;
    @include flex-align-center();
    justify-content: space-between;
    border-bottom: 1px solid rgba($black, 0.2);
    &__h3 {
      font-size: 18px;
    }
    &__close {
      svg {
        display: block;
      }
    }
  }
  .cart-content {
    position: absolute;
    padding: 15px;
    top: 50px; //fallback
    top: var(--cart-th);
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    margin-bottom: var(--cart-cta-height);
    &__table {
      width: 100%;
      text-align: left;
      th {
        font-weight: 600;
        padding: 0 5px 15px;
        border-bottom: 1px solid rgba($black, 0.2);
      }
      tbody {
        tr {
          &:first-child {
            td {
              padding-top: 15px;
            }
          }
        }
      }
      td {
        padding: 5px;
        font-size: 15px;
        font-weight: 500;
        &.td-action {
          text-align: right;
        }
        .action {
          font-size: 15px;
          line-height: 18px;
          display: inline-block;
        }
      }
    }
  }
  .checkout-cart-option {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: $white;
    .action {
      margin-bottom: 15px;
      &:last-child {
        margin-bottom: 0;
      }
      svg {
        margin-left: 8px;
      }
    }
  }
}

.products-list {
  padding: 30px;
  width: 100%;
  flex: 0 0 100%;
  max-width: 100%;
  .row {
    margin: 0 -15px;
  }
  .col-md-4 {
    width: 33.33%;
    padding: 0 15px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .product-item {
    position: relative;
    display: block;
    overflow: hidden;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 10px 10px 45px;
    background-color: $white;
    box-shadow: 0 0 5px -4px rgba($black, 0.6);
    > img {
      margin: 0 auto;
      display: block;
      max-height: 250px;
    }
    > span {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 5px;
      display: block;
      font-weight: 600;
      color: $text-color-grey;
    }
  }
}

.product-detail-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 420px;
  z-index: 1005;
  overflow-y: auto;
  background-color: $white;
  transform: translateX(100%);
  box-shadow: 0px 0px 5px -3px rgba($black, 0.6);
  transition: transform 0.6s cubic-bezier(0.76, 0, 0.24, 1);
  &.active {
    transform: translateX(0);
  }
  .cart-title {
    padding: 10px 15px;
    @include flex-align-center();
    justify-content: space-between;
    border-bottom: 1px solid rgba($black, 0.2);
    &__h3 {
      font-size: 18px;
    }
    &__close {
      svg {
        display: block;
      }
    }
  }
  &__content {
    position: absolute;
    padding: 15px;
    top: 50px; //fallback
    top: var(--cart-th);
    left: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
  }
  &__table {
    width: 100%;
    td {
      padding: 5px;
      font-size: 15px;
      font-weight: 500;
    }
    .form-input {
      width: 100%;
      border: none;
      height: 40px;
      font-size: 15px;
      padding: 0 15px;
      font-weight: 500;
      padding-right: 15px;
      border-radius: 6px;
      color: $text-color;
      background-color: $grey;
      &.qty {
        width: 100px;
      }
    }
  }
  .form-action {
    margin-top: 15px;
    @include flex-align-center();
    .action {
      font-size: 15px;
      line-height: 18px;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/*------------------------------
  RESPONSIVE
------------------------------*/
@media screen and (max-width: 1640px) {
  .header {
    left: 290px;
  }
  .sidebar {
    width: 290px;
  }
  .cart-sidebar,
  .product-detail-sidebar {
    width: 380px;
  }
  .main {
    padding-left: 290px;
  }
  .main-wrapper {
    .product-image {
      width: calc(100% - 680px);
      flex: 0 0 calc(100% - 680px);
      max-width: calc(100% - 680px);
      margin-left: 310px;
    }
    .product-info {
      width: 300px;
    }
  }
  .products-list {
    padding: 20px;
    .row {
      margin: 0 -10px;
    }
    .col-md-4 {
      padding: 0 10px;
    }
  }
  .cart-sidebar {
    .cart-content {
      &__table {
        td {
          .action {
            display: none;
          }
          .action-xs {
            padding: 5px;
            min-width: auto;
            display: inline-block !important;
            svg {
              display: block;
            }
          }
        }
      }
    }
  }
}

.main-admin-wrap {
  padding-top: 110px;
  padding-left: 40px;
}

.form-wrap {
  width: 100%;
  padding: 20px;
  max-width: 560px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0 0 5px -3px rgba($black, 0.6);

  .form-title {
    margin-bottom: 20px;
    &__h2 {
      font-size: 22px;
    }
  }

  .form-group {
    margin-bottom: 20px;
    > label {
      display: block;
      font-size: 15px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  .form-control {
    width: 100%;
    border: none;
    height: 40px;
    font-size: 15px;
    padding: 0 15px;
    font-weight: 500;
    padding-right: 15px;
    border-radius: 6px;
    color: $text-color;
    background-color: $grey;
  }

  textarea {
    &.form-control {
      resize: none;
      padding: 10px;
      min-height: 70px;
    }
  }
}

.admin-body {
  .sidebar {
    background-color: $black;
    .logo > a {
      color: $white;
      svg {
        stroke: $admin-primary;
      }
    }
    .sidebar-option {
      border-top-color: rgba($white, 0.1);
    }
    .sidebar-menu {
      li {
        margin-bottom: 15px;
        a {
          color: $white;
          [class^="feather"] {
            stroke: $admin-primary;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
        .submenu {
          > li {
            &.active {
              > a {
                color: $white;
                background-color: rgba($admin-primary, 0.4);
              }
            }
          }
        }
      }
      > li {
        &:hover {
          a {
            background-color: rgba($admin-primary, 0.2);
          }
        }
        &.active {
          &.parent {
            &:after {
              border-right-color: $admin-primary;
              border-bottom-color: $admin-primary;
            }
          }
          > a {
            color: $white;
            background-color: rgba($admin-primary, 0.4);
          }
        }
      }
    }
  }
  .header-noti__count {
    background-color: $admin-primary;
  }
  .action {
    background-color: $admin-primary;
    &:hover {
      background-color: darken($admin-primary, 5%);
    }
  }
}

@media screen and (max-width: 1480px) {
  .cart-sidebar,
  .product-detail-sidebar {
    width: 320px;
  }
  .main-wrapper {
    .product-image {
      width: calc(100% - 610px);
      flex: 0 0 calc(100% - 610px);
      max-width: calc(100% - 610px);
      margin-left: 310px;
      img {
        max-height: 295px;
      }
    }
    .product-info {
      width: 300px;
    }
  }
}

@media screen and (max-width: 1340px) {
  .main-wrapper {
    padding-left: 20px;
    .product-image {
      min-height: 350px;
      width: calc(100% - 340px);
      flex: 0 0 calc(100% - 340px);
      max-width: calc(100% - 340px);
      margin-left: 0;
      img {
        max-height: 245px;
      }
    }
    .product-info {
      position: static;
      margin-top: 0;
      width: calc(100% - 340px);
    }
  }
}
