div.section-title span:after {
	background-color: #4EBFBD;
}
div.section-title span:before {
	border-top-color: #4EBFBD;
}
.header .navbar-nav li a:before {
	background-color: #4EBFBD;
}
.home-overlay {
	background-color: #4EBFBD;
}
.about-me .section-desc p em {
	background-color: #4EBFBD;
}
.about-me .social-icons ul li a {
	color: #4EBFBD;
}
.about-me .social-icons ul li a:hover {
	border-color: #4EBFBD;
	background-color: #4EBFBD;
}
.about-me .bottom-button .btn {
	color: #4EBFBD;
	border-color: #4EBFBD;
}
.about-me .bottom-button .btn:focus {
	border-color: #4EBFBD;
}
.about-me .bottom-button .btn:hover,
.about-me .bottom-button .btn:active {
	background-color: #4EBFBD;
}

.main-skills .col-md-4 .progress-bar {
	background-color: #4EBFBD;
}

.services-blocks .col-inner:before {
	background-color: #4EBFBD;
}
.services-blocks .icon {
	background-color: #4EBFBD;	
}
.main-resume .timeline-item:before {
	border-color: #4EBFBD;
}
.main-resume .timeline-item:after {
	background-color: #4EBFBD;
}
.main-resume .left .timeline-item {
	border-right-color: #4EBFBD;
}
.main-resume .right .timeline-item {
	border-left-color: #4EBFBD;
}
.main-resume .timeline-item .title .date {
	color: #4EBFBD;
}
.work-blocks .controls button:before {
	background-color: #4EBFBD;
}
.work-container .mix .work-detail {
	background-color: #4EBFBD;	
}
.blog-block .main-blog .blog-image .date {
	background-color: #4EBFBD;
}
.blog-block .main-blog .blog-desc .read-more {
	color: #4EBFBD;
}
.blog-block .main-blog .blog-desc .read-more:after {
	background-color: #4EBFBD;
}
.blog-block .owl-carousel .owl-nav .owl-prev:hover:after,
.blog-block .owl-carousel .owl-nav .owl-next:hover:after {
	background-color: #4EBFBD;
}
.contact-section .address:before {
	background-color: #4EBFBD;
}
.contact-form .input-group .form-control:focus {
	border-color: #4EBFBD;
}
.contact-form .input-group .btn {
	color: #4EBFBD;
	border-color: #4EBFBD;
}
.contact-form .input-group .btn:focus {
	border-color: #4EBFBD;
}
.contact-form .input-group .btn:hover,
.contact-form .input-group .btn:active {
	background-color: #4EBFBD;
}
.scrollTop:hover {
	background-color: #4EBFBD;
}

/* Header options */

.header-2 .navbar-menu {
	background-color: #4EBFBD;
}
.header-3 .navbar-nav li.active a {
	color: #4EBFBD;
}
.services-blocks-1 .col-md-4:hover {
	background-color: #4EBFBD;
}
.services-blocks-1 .col-md-4 .icon {
	color: #4EBFBD;
}

/* Block option */

/* Theme Option 1 */
.view-more-btn a {
	color: #4EBFBD;
	border-color: #4EBFBD;
}
.view-more-btn a:hover {
	background-color: #4EBFBD;	
}
.about-section-1 .about-me .about-desc .name {
	background-color: #4EBFBD;
}
.about-section-1 .about-me .social-links ul li a {
	color: #4EBFBD;
}
.skills-section-1 .item p {
	color: #4EBFBD;
}
.resume-section-1 .main-resume .timeline-item {
	border-top: 3px solid #4EBFBD;
}
.resume-section-1 .main-resume .timeline-item:after {
	border-left: 35px solid #4EBFBD;
	border-top: 30px solid #4EBFBD;
}
.tesimonial-section-1 .tesimonial-container:after {
	color: #4EBFBD;
}
.tesimonial-section-1 .tesimonial-block .item {
	border-bottom: 5px solid #4EBFBD;
}
.tesimonial-section-1 .tesimonial-block .item p:before {
	color: #4EBFBD;
}
.work-section-1 .work-container .mix .work-detail:before {
	background-color: #4EBFBD;
}
.counter-section-1 .counter .icon {
	background-color: #4EBFBD;
}
@media screen and (max-width: 767px) {
	.main-resume .left .timeline-item {
		border-left: 3px solid #4EBFBD;
	}
}

/* Theme Option 2 */
.services-blocks-2 .col-inner:before {
	border-left: 3px solid #4EBFBD;
	border-top: 3px solid #4EBFBD;
}
.services-blocks-2 .col-inner:after {
	bottom: 0;
	right: 0;
	border-right: 3px solid #4EBFBD;
	border-bottom: 3px solid #4EBFBD;
}
.services-blocks-2 .col-inner .icon {
	background-color: #4EBFBD;
}
.services-blocks-2 .col-inner .col-title {
	color: #4EBFBD;
}
.resume-section-2 {
	background-color: #4EBFBD;
}
.tesimonial-section-2 .tesimonial-block-2 .owl-dots .owl-dot {
	background-color: #4EBFBD;
}
.work-section-2 .work-blocks-2 .controls button.mixitup-control-active {
	background-color: #4EBFBD;
}
.counter-section-2 .counter .count {
	background-color: #4EBFBD;
}
.blog-section-2 .blog-block-2 .blog-desc .title {
	color: #4EBFBD;
}
.blog-section-2 .blog-block-2 .blog-desc .read-more  {
	background-color: #4EBFBD;
}

/* Theme option 3 */
.about-section-3 .about-me .bottom-button .btn {
	background-color: #4EBFBD;	
}
.main-resume-3 .timeline .timeline-item:before {
	background-color: #4EBFBD;
}
.tesimonial-block-3 .item p:before {
	color: #4EBFBD;
}
.tesimonial-block-3 .item  .author-detail a {
	color: #4EBFBD;
}
.counter-section-3 .counter .icon { 
	color: #4EBFBD;
}
.blog-section-3 .blog-block-3 .item .blog-desc .title { 
	color: #4EBFBD;
}
.blog-section-3 .blog-block-3 .item .blog-desc .read-more {
	color: #4EBFBD;
}
.feature-inner-section .icon {
	background: #4EBFBD;
}
.feature-section-1 .feature-main-sec-1:hover {
	background: #4EBFBD;
	color: #fff;
}
.feature-section-2 .feature-main-sec-2 i {
	background: #4EBFBD;
}
.feature-section-3 .feature-main-sec-3:hover {
	background: #4EBFBD;
	color: #fff;
}