/*-------------------------------------------------------*/
/* Responsive CSS */
/*-------------------------------------------------------*/

@media screen and (max-width: 1430px) {
	.about-section {
		padding: 30px 0;
	}
	.about-section .col-md-6 {
		max-width: 100%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding: 50px;
	}
	.about-section .col-md-6:last-child {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;	
		padding: 0;
	}
	.about-section .about-me {
		padding: 0 30px;
		padding-right: 50px;
	}
	.about-section-3 {
		padding: 70px 0;	
	}
	.about-section-3 .about-me {
		padding: 30px;
	}
	.blog-block {
		margin-bottom: 0;
	}
	.blog-block .owl-carousel .owl-nav .owl-prev {
		left: -20px;
	}
	.blog-block .owl-carousel .owl-nav .owl-next {
		right: -20px;
	}
}
@media screen and (max-width: 1199px) {
	.about-section-1 .about-me {
		padding: 20px 35px;
	}
	.about-section-1 .about-me .about-desc {
		padding: 0 20px;
	}
}
@media screen and (max-width: 1024px ) {
	.contact-section .contact {
		padding: 50px;
	}
	.header-3 {
		height: 60vh;
		overflow: hidden;
	}
}
@media screen and (max-width: 991px) {
	.section {
		padding: 50px 0;
	}
	.hamburger {
		right: 20px;
	}
	.header .navbar-menu .navbar-collapse {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
	}
	.hidden-sm {
		display: none;
	}
	.about-section {
		padding: 0;
	}
	.about-section .col-md-6 {
		max-width: 100%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		padding: 0;
		text-align: center;
	}
	.about-section .col-md-6:last-child {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;	
		padding: 0;
	}
	.about-section-3 {
		padding: 70px 0 40px 0;
	}
	.about-section .about-me {
		padding: 30px;
		text-align: left;
	}
	.about-section-3 .display-picture img {
		margin: 0;
		border: none;
	}
	.services-blocks .container {
		max-width: 100%;
		padding: 0 30px;	
	}
	.services-blocks-3 .col-md-3 {
		width: 50%;
		max-width: 50%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		margin-bottom: 60px;
	}
	.services-blocks .icon {
		height: 70px;
		width: 70px;
		line-height: 68px; 
		font-size: 12px;
	}
	.services-blocks .col-content .col-title {
		font-size: 20px;
	}
	.services-blocks .col-content {
		font-size: 14px;
	}
	.work-section .work-blocks .container {
		max-width: 100%;
		padding: 0 30px;
	}
	.resume-section .main-resume .container {
		max-width: 100%;
	}
	.resume-section .main-resume-3 .container { 
		max-width: 100%;
		padding: 0 40px;
	}
	.tesimonial-block .item {
		padding: 0 40px;
	}
	.tesimonial-section .tesimonial-container .owl-carousel:before {
		font-size: 140px;
		top: -100px;
	}
	.tesimonial-section-3 .tesimonial-block-3 .container {
		max-width: 100%;
	}
	.counter-section .container {
		max-width: 100%;
	}
	.counter-section-3 .counter {
		margin: 0;
	}
	.blog-block .container {
		max-width: 100%;
		padding: 0 30px;
	}
	.blog-section-3 .blog-block-3 .container {
		max-width: 100%;
	}
	.contact-section .contact {
		padding: 20px;
	}
	.work-blocks .work-container {
		padding: 0;
		text-align: center;
	}

	.header-3 .navbar .container {
		max-width: 100%;
	}
	.header-3 .hamburger {
		display: inline-block;
		top: 13px;
	}
	.header-3 .hamburger .hamburger-inner,
	.header-3 .hamburger .hamburger-inner:after, 
	.header-3 .hamburger .hamburger-inner:before {
		background-color: #333;
	}
	.header-3.dark .hamburger .hamburger-inner,
	.header-3.dark .hamburger .hamburger-inner:after, 
	.header-3.dark .hamburger .hamburger-inner:before {
		background-color: #fff;
	}
	.header-3 .navbar-main-menu {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 100%;
		background-color: #FFF;
		border-top: 1px solid rgba(0,0,0,0.1);
		-webkit-transform: scaleY(0);
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		transition:250ms all ease;
	    -webkit-transition:250ms all ease;
	    -moz-transition:250ms all ease;
	    -ms-transition:250ms all ease;
	    -o-transition:250ms all ease;
	}
	.header-3.dark .navbar-main-menu {
		background-color: #333;
	}
	.header-3 .navbar-main-menu.active {
		-webkit-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
		transition:250ms all ease;
	    -webkit-transition:250ms all ease;
	    -moz-transition:250ms all ease;
	    -ms-transition:250ms all ease;
	    -o-transition:250ms all ease;
	}
	.header-3 .navbar-main-menu .navbar-collapse {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		opacity: 0;
		transition:50ms all ease;
	    -webkit-transition:50ms all ease;
	    -moz-transition:50ms all ease;
	    -ms-transition:50ms all ease;
	    -o-transition:50ms all ease;
	}
	.header-3 .navbar-main-menu .navbar-collapse.active {
		opacity: 1;
		transition:250ms all ease;
	    -webkit-transition:250ms all ease;
	    -moz-transition:250ms all ease;
	    -ms-transition:250ms all ease;
	    -o-transition:250ms all ease;
		transition-delay: 250ms;
	}
	.header-3 .navbar-nav {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		width: 100%;
	}

	.header-3 .navbar-nav li {
		display: block;
		width: 100%;
		margin-right: 0;
		text-align: left;
	}
	.header-3 .navbar-nav li a {
		display: block;
		font-size: 14px;
		line-height: 14px;
		padding: 12px 20px;
	}
	.header-3 .navbar-nav li a:before {
		display: none;
	}

	.header-4 .navbar {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: auto;
		width: 100%;
	}
	.header-4 .navbar .container {
		max-width: 100%;
	}
	.header-4 .hamburger {
		display: inline-block;
		top: 13px;
	}
	.header-4 .hamburger .hamburger-inner,
	.header-4 .hamburger .hamburger-inner:after, 
	.header-4 .hamburger .hamburger-inner:before {
		background-color: #333;
	}
	.header-4.dark .hamburger .hamburger-inner,
	.header-4.dark .hamburger .hamburger-inner:after, 
	.header-4.dark .hamburger .hamburger-inner:before {
		background-color: #fff;
	}
	.header-4 .navbar-main-menu {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		top: 100%;
		background-color: #FFF;
		border-top: 1px solid rgba(0,0,0,0.1);
		-webkit-transform: scaleY(0);
		-moz-transform: scaleY(0);
		-ms-transform: scaleY(0);
		-o-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: top;
		-moz-transform-origin: top;
		-ms-transform-origin: top;
		-o-transform-origin: top;
		transform-origin: top;
		transition:250ms all ease;
	    -webkit-transition:250ms all ease;
	    -moz-transition:250ms all ease;
	    -ms-transition:250ms all ease;
	    -o-transition:250ms all ease;
	}
	.header-4.dark .navbar-main-menu {
		background-color: #333;
	}
	.header-4 .navbar-main-menu.active {
		-webkit-transform: scaleY(1);
		-moz-transform: scaleY(1);
		-ms-transform: scaleY(1);
		-o-transform: scaleY(1);
		transform: scaleY(1);
		transition:250ms all ease;
	    -webkit-transition:250ms all ease;
	    -moz-transition:250ms all ease;
	    -ms-transition:250ms all ease;
	    -o-transition:250ms all ease;
	}
	.header-4 .navbar-main-menu .navbar-collapse {
		display: -webkit-box !important;
		display: -ms-flexbox !important;
		display: flex !important;
		-ms-flex-preferred-size: auto;
		flex-basis: auto;
		opacity: 0;
		transition:50ms all ease;
	    -webkit-transition:50ms all ease;
	    -moz-transition:50ms all ease;
	    -ms-transition:50ms all ease;
	    -o-transition:50ms all ease;
	}
	.header-4 .navbar-main-menu .navbar-collapse.active {
		opacity: 1;
		transition:250ms all ease;
	    -webkit-transition:250ms all ease;
	    -moz-transition:250ms all ease;
	    -ms-transition:250ms all ease;
	    -o-transition:250ms all ease;
		transition-delay: 250ms;
	}
	.header-4 .navbar-nav {
		-webkit-box-align: start;
		-ms-flex-align: start;
		align-items: flex-start;
		width: 100%;
	}

	.header-4 .navbar-nav li {
		display: block;
		width: 100%;
		margin-right: 0;
		text-align: left;
	}
	.header-4 .navbar-nav li a {
		display: block;
		font-size: 14px;
		line-height: 14px;
		padding: 12px 20px;
	}
	.header-4 .navbar-nav li a:before {
		display: none;
	}

	.about-section-1 .container {
		max-width: 100%;
	}

	.skills-section-1 .item {
		margin-bottom: 20px;
	}
	.services-blocks-1 .col-md-4 .icon {
		font-size: 30px;
	}
	.tesimonial-section-1 .tesimonial-block .owl-item.active.center .item {
		-webkit-transform: translateY(0px);
		-moz-transform: translateY(0px);
		-o-transform: translateY(0px);
		-ms-transform: translateY(0px);
		transform: translateY(0px);
	}

	.work-section-2 .work-container-2 {
		padding: 0 30px;
	}
	.resume-section-2 {
		padding: 0;
	}
	.main-resume-2 .timeline {
		padding: 20px;
	}
	.tesimonial-section-3 .tesimonial-block-3 {
		margin-top: 50px;
	}
	.main-resume-3 {
		margin-top: 50px;
	}
	.feature-main-sec .icon-sec {
		display: block;
		margin: auto;
		margin-bottom: 20px;
	}
	.feature-main-sec .text-module-feture {
		text-align: center;
	}
	.feature-main-sec .text-module-feture {
		width: 100%;
		padding-left: 0;
	}
}
@media screen and (max-width: 767px) {
	.header .navbar-brand,
	.header-1 .navbar-brand {
		font-size: 25px;
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	body.fixedNav .header .navbar-brand,
	body.fixedNav .header-1 .navbar-brand {
		-webkit-transform: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}
	.hamburger {
		right: 10px;
		top: 10px;
	}
	.hamburger-inner, 
	.hamburger-inner:after, 
	.hamburger-inner:before {
		width: 30px;
	}
	.hamburger-inner:before {
		top: -10px;
	}
	.hamburger-inner:after {
		bottom: -10px;
	}
	.section {
		padding: 30px 0;
	} 
	.header-1 .navbar-nav li a {
		padding-top: 6px;
		padding-bottom: 6px;
		font-size: 25px;
		line-height: 25px;
	}
	.header-2 .hamburger {
		top: 0;
	}
	.header-2 .navbar-nav li a {
		padding: 2px 0;
		font-size: inherit;
		line-height: inherit;
	}
	.header-2 .navbar-brand {
		z-index: 1;
	}
	.header-2 .top-social {
		display: none;
	}
	.header-2 .col-md-4 {
		width: auto;
		padding: 0;
	}
	.welcome-text span {
		font-size: 28px;
		line-height: 28px;
	}
	.welcome-text h2 {
		font-size: 45px;
		line-height: 45px;
		margin: 0;
	}
	.about-section {
		padding: 0;
	}
	.services-blocks {
		margin-top: 40px;
	}
	.resume-section .main-resume .container {
		padding: 0 30px;
	}
	.main-resume .right .timeline {
		margin-top: 0;
	}
	.main-resume:after {
		left: 24px;
	}
	.main-resume .timeline-item {
		text-align: left !important;
	}
	.main-resume .left .timeline-item {
		border-right: 0;
		border-left: 3px solid transparent;
	}
	.main-resume .left .timeline-item:before {
		left: -49px;
	}
	.main-resume .left .timeline-item:after {
    	left: -48px;
	}
	.tesimonial-block .item {
		padding: 0;
	}
	.work-blocks .controls {
		margin-top: 40px;
	}
	.blog-block .container {
		padding: 0 30px;
	}
	.blog-block .owl-carousel .owl-nav {
		display: none !important;
	}
	.blog-block .main-blog .blog-desc {
		padding: 20px;
	}
	.services-blocks .col-md-4 {
		margin-bottom: 30px;
	}
	.counter-section .col-md-4 {
		margin-bottom: 60px;	
	}
	.counter-section .col-md-4:last-child {
		margin-bottom: 0;
	}
	.blog-block {
		margin: 50px 0;
		margin-bottom: 0;
	}
	.contact-section .address {
		padding: 20px;
	}
	.about-section-1 .about-me .about-desc {
		padding: 0;
		padding-top: 20px;
	}
	.resume-section-1 .main-resume .timeline-item {
		border-left: 0 !important;
	}
	.resume-section-1 .main-resume .timeline-item:before {
		left: 10px;
	}
	.resume-section-1 .main-resume .timeline-item:after {
		left: 0;
	}
	.counter-section-1  .counter {
		margin-bottom: 20px;
	}
	.contact-section-1 .contact {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.resume-section-2 {
		padding: 0;
	}
	.counter-section-3 .counter {
		margin-bottom: 30px;
	}
	.counter-section-3 .col-md-3:last-child .counter {
		margin-bottom: 0
	}
	.contact-section-3 .contact {
		max-width: 100%;
	}
	.services-blocks-3 {
		margin-top: 70px;
	}

	.main-resume-3 .timeline .timeline-item {
		margin-bottom: 0;
		padding-bottom: 40px;
	}
	.main-resume-3 .right .timeline .timeline-item:last-child { 
		padding-bottom: 0;
	}
}
@media screen and (max-width: 575px) {
	.services-section-1 .services-blocks-1 {
		padding: 0 20px;
	}
	.contact-section-2 .contact-form {
		padding: 0;
	}
	.contact-section-3 .contact-form {
		margin: 0 20px;
	}
}
@media screen and (max-width: 480px) {
	.about-me .social-icons {
		margin: 10px 0;
	}
	.about-me .social-icons ul li {
		margin-bottom: 8px;
	}
	.about-me .social-icons ul li a {
		height: 40px;
		width: 40px;
		line-height: 35px;
		font-size: 18px;
	}
	.about-me .bottom-button .btn {
		margin-bottom: 8px;
	}
	.tesimonial-section .tesimonial-container .owl-carousel:before {
    	font-size: 80px;
    	top: -50px;
	}
	.about-me .bottom-button .btn {
		margin-right: 5px;
	}
	.resume-section-1 .main-resume .timeline-item {
		padding-left: 55px;
	}
	.services-blocks-3 .col-md-3 {
		width: 100%;
		max-width: 100%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
}
@media screen and (max-height: 550px) {
	.welcome-text span {
		font-size: 38px;
		line-height: 38px;
	}
	.welcome-text h2 {
		font-size: 60px;
		line-height: 60px;
	}
}
@media screen and (min-width: 992px) {
	#home-4.header-4 .home-banner {
		background-attachment: fixed;
	}
	.tesimonial-section {
		background-attachment: fixed;
	}
	.counter-section {
		background-attachment: fixed;
	}
}
