:root {
  --text-color: #fff;
  --text-primary-color: #38bdf8;
  --text-dark-color: #28292a;

  --bg-light: #e6e6e2;
  --bg-dark: #1a1a19;

  --font-body: "Inter", sans-serif;
  --font-headings: "Playfair Display", Georgia, serif;

  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--text-dark-color);
}

a {
  color: var(--text-dark-color);
}

img {
  border: none;
  max-width: 100%;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1480px;
}

.row {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
}

.heading {
  font-family: var(--font-headings);
  font-weight: normal;
}

.ls-n4 {
  letter-spacing: -4px;
}

.ls-n2 {
  letter-spacing: -2px;
}

.ls-n1 {
  letter-spacing: -1px;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 50px 0;
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
    display: flex;
    align-items: center;
    letter-spacing: -0.7px;
    a {
      color: var(--text-color-dark);
      display: block;
      font-size: 28px;
      font-weight: bold;
      line-height: 28px;
      text-align: center;
      text-decoration: none;
    }
    span {
      position: relative;
      display: block;
      font-size: 15px;
      margin-left: 15px;
      padding-left: 15px;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        bottom: 0;
        width: 1px;
        height: 20px;
        margin: auto;
        opacity: 0.4;
        background-color: var(--text-dark-color);
      }
    }
  }
  &__nav {
    &-link {
      position: relative;
      color: var(--text-color-dark);
      font-size: 16px;
      margin-right: 55px;
      text-decoration: none;
      letter-spacing: -0.7px;
      transition: 0.25s var(--easing);
      &:last-child {
        margin-right: 0;
      }
      &:after {
        position: absolute;
        content: "";
        bottom: -6px;
        left: 0;
        right: 0;
        width: 0;
        height: 2px;
        margin: 0 auto;
        transition: 0.25s var(--easing);
        background-color: var(--text-dark-color);
      }
    }
    &:hover {
      .header__nav-link {
        opacity: 0.3;
        &:hover {
          opacity: 1;
          &:after {
            width: 90%;
          }
        }
      }
    }
  }
}

.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  z-index: 2;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  &__bg-wrap {
    position: absolute;
  }
  &__bg {
    position: absolute;
    height: 65vh;
    width: 65vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
    background-color: var(--bg-light);
    background-image: linear-gradient(
        to bottom,
        var(--bg-light) 0%,
        rgba(0, 0, 0, 0.5) 100%
      ),
      radial-gradient(at 50% 0%, var(--bg-light) 0%, rgba(0, 0, 0, 0.5) 50%);
    background-blend-mode: soft-light, screen;
  }
  &__content {
    &-title {
      font-size: 100px;
      text-align: center;
      font-weight: 500;
      line-height: 1.25;
      color: var(--text-color-dark);
      span {
        display: block;
      }
    }
  }
}

.content {
  padding-top: 80px;
  padding-bottom: 80px;
  &__title {
    width: 100%;
    font-size: 90px;
    max-width: 560px;
    margin-top: 40px;
    font-weight: normal;
    margin-bottom: 24px;
  }
  &__desc {
    max-width: 560px;
    line-height: 24px;
  }
}

.services {
  padding-bottom: 60px;
  background-color: var(--bg-light);
}

.grid_wrapper {
  column-gap: 0;
  column-count: 2;
  margin: 0 -15px;
}

.item {
  width: 100%;
  padding: 0 15px;
  margin-bottom: 65px;
  display: inline-block;
  &__inner {
    break-inside: avoid;
    &:hover {
      .item__img {
        img {
          transform: scale(1.2);
        }
      }
      .item__detail {
        svg {
          top: 0;
          right: 0;
        }
      }
    }
  }
  &__img {
    display: block;
    overflow: hidden;
    img {
      width: 100%;
      display: block;
      object-fit: cover;
      transition: 1.2s var(--easing);
    }
  }
  &__detail {
    display: block;
    position: relative;
    text-decoration: none;
    &-title {
      font-size: 34px;
      margin: 25px 0 5px;
    }
    &-desc {
      opacity: 0.6;
    }
    svg {
      position: absolute;
      top: 5px;
      right: 5px;
      width: 24px;
      stroke: var(--text-dark-color);
      transition: 0.35s var(--easing);
    }
  }
}

.process {
  padding-bottom: 120px;
  background-color: var(--bg-dark);
  .content {
    &__title {
      color: var(--bg-light);
    }
    &__desc {
      color: var(--bg-light);
    }
  }

  &__grid {
    column-gap: 0;
    margin: 0 -15px;
    column-count: 4;
  }
}

.grid_item {
  padding: 0 15px;
  color: var(--bg-light);
  &-inner {
    break-inside: avoid;
  }
  &-count {
    width: 30px;
    height: 30px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--bg-light);
  }
  &-title {
    font-size: 26px;
    margin: 16px 0 8px;
  }
  &-desc {
    font-size: 14px;
    opacity: 0.8;
    line-height: 20px;
  }
}

.footer {
  background-color: var(--bg-light);
  &__content {
    padding: 80px 0;
  }
  &__title {
    font-size: 40px;
    max-width: 560px;
    margin-bottom: 40px;
  }
  &__cta {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 35px;
    padding: 8px 20px;
    border: 1px solid var(--text-dark-color);
    text-decoration: none;
  }
}
