div.section-title span:after {
	background-color: #9C27B0;
}
div.section-title span:before {
	border-top-color: #9C27B0;
}
.header .navbar-nav li a:before {
	background-color: #9C27B0;
}
.home-overlay {
	background-color: #9C27B0;
}
.about-me .section-desc p em {
	background-color: #9C27B0;
}
.about-me .social-icons ul li a {
	color: #9C27B0;
}
.about-me .social-icons ul li a:hover {
	border-color: #9C27B0;
	background-color: #9C27B0;
}
.about-me .bottom-button .btn {
	color: #9C27B0;
	border-color: #9C27B0;
}
.about-me .bottom-button .btn:focus {
	border-color: #9C27B0;
}
.about-me .bottom-button .btn:hover,
.about-me .bottom-button .btn:active {
	background-color: #9C27B0;
}

.main-skills .col-md-4 .progress-bar {
	background-color: #9C27B0;
}

.services-blocks .col-inner:before {
	background-color: #9C27B0;
}
.services-blocks .icon {
	background-color: #9C27B0;	
}
.main-resume .timeline-item:before {
	border-color: #9C27B0;
}
.main-resume .timeline-item:after {
	background-color: #9C27B0;
}
.main-resume .left .timeline-item {
	border-right-color: #9C27B0;
}
.main-resume .right .timeline-item {
	border-left-color: #9C27B0;
}
.main-resume .timeline-item .title .date {
	color: #9C27B0;
}
.work-blocks .controls button:before {
	background-color: #9C27B0;
}
.blog-block .main-blog .blog-image .date {
	background-color: #9C27B0;
}
.blog-block .main-blog .blog-desc .read-more {
	color: #9C27B0;
}
.blog-block .main-blog .blog-desc .read-more:after {
	background-color: #9C27B0;
}
.blog-block .owl-carousel .owl-nav .owl-prev:hover:after,
.blog-block .owl-carousel .owl-nav .owl-next:hover:after {
	background-color: #9C27B0;
}
.contact-section .address:before {
	background-color: #9C27B0;
}
.contact-form .input-group .form-control:focus {
	border-color: #9C27B0;
}
.contact-form .input-group .btn {
	color: #9C27B0;
	border-color: #9C27B0;
}
.contact-form .input-group .btn:focus {
	border-color: #9C27B0;
}
.contact-form .input-group .btn:hover,
.contact-form .input-group .btn:active {
	background-color: #9C27B0;
}
.scrollTop:hover {
	background-color: #9C27B0;
}

/* Header options */

.header-2 .navbar-menu {
	background-color: #9C27B0;
}
.header-3 .navbar-nav li.active a {
	color: #9C27B0;
}