@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$primary: #2ed5ff;
$white: #ffffff;
$black: #262626;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: $black;
  text-decoration: none;
}

body {
  color: $black;
  overflow-x: hidden;
  font: normal 16px/1.4 "Montserrat", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  appearance: none;
  font: normal 16px/1.4 "Montserrat", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1480px;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-md-6 {
  width: 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-md-4 {
  width: 33.33%;
  flex: 0 0 33.33%;
  max-width: 33.33%;
}

.align-left {
  text-align: left !important;
}

.align-center {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

.action {
  border: none;
  color: $white;
  padding: 10px;
  font-size: 18px;
  min-width: 140px;
  cursor: pointer;
  font-weight: normal;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  background-color: $primary;
  transition: 0.2s ease;
  &:before,
  &:after {
    content: none;
    display: none;
  }
  &:hover {
    color: $white;
    background-color: darken($primary, 12%);
  }
}

.nav-toggle {
  display: none;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 12px 0;
  background-color: $white;
  box-shadow: 0 0 5px -2px rgba($black, 0.5);

  .row {
    justify-content: space-between;
  }
}

.logo {
  display: inline-block;
  > a {
    color: $primary;
    font-size: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
  }
  img {
    max-width: 26px;
    margin-right: 10px;
  }
}

.navigation {
  > ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    > li {
      a {
        position: relative;
        display: block;
        color: $black;
        font-size: 16px;
        margin-right: 65px;
        transition: 0.2s ease;
        &.action {
          color: $white;
          &:hover {
            color: $white;
          }
        }
        &:before {
          position: absolute;
          content: "";
          bottom: -5px;
          left: 0;
          width: 0;
          height: 2px;
          margin: 0 auto;
          transition: 0.2s ease;
          background-color: $primary;
        }
        &:hover {
          &:before {
            width: 100%;
          }
        }
      }
      &:last-child {
        a {
          margin-right: 0;
        }
      }
    }
  }
}

.main {
  padding-top: var(--header-height);
}

.hero {
  position: relative;
  display: flex;
  min-height: 750px;
  align-items: center;
  justify-content: center;
  background: url("../images/hero-bg.jpg") no-repeat center center/cover;
}

.hero-content {
  position: relative;
  width: 100%;
  z-index: 2;
  margin: 0 auto;
  max-width: 620px;
  text-align: center;
  &__title {
    font-size: 50px;
  }
  &__desc {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 300;
    line-height: 35px;
    color: lighten($black, 30%);
  }
  &__action {
    margin-top: 30px;
  }
  &__store {
    margin-top: 30px;
    > a {
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      img {
        max-width: 170px;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.section-title {
  text-align: center;
  &__h2 {
    font-size: 35px;
  }
}

.feature-section {
  padding: 100px 0;
  .container {
    max-width: 1084px;
  }
  .row {
    justify-content: center;
  }
}

.feature-item {
  text-align: center;
  margin-top: 55px;
  &__icon {
    display: flex;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba($primary, 0.1);
    svg {
      width: 55px;
      margin: 0 auto;
      display: block;
      fill: $primary;
      stroke: $primary;
      stroke-miterlimit: 10;
    }
  }
  &__title {
    font-size: 20px;
    margin: 25px 0 10px 0;
  }
  &__desc {
    font-size: 16px;
    font-weight: 300;
    color: lighten($black, 30%);
  }
}

svg .svg-elem-1 {
  stroke-dashoffset: 149.88546752929688px;
  stroke-dasharray: 149.88546752929688px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-1 {
  stroke-dashoffset: 0;
}

svg .svg-elem-2 {
  stroke-dashoffset: 180.0462646484375px;
  stroke-dasharray: 180.0462646484375px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-2 {
  stroke-dashoffset: 0;
}

svg .svg-elem-3 {
  stroke-dashoffset: 164.20082092285156px;
  stroke-dasharray: 164.20082092285156px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-3 {
  stroke-dashoffset: 0;
}

svg .svg-elem-4 {
  stroke-dashoffset: 155.41876220703125px;
  stroke-dasharray: 155.41876220703125px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-4 {
  stroke-dashoffset: 0;
}

svg .svg-elem-5 {
  stroke-dashoffset: 146.36825561523438px;
  stroke-dasharray: 146.36825561523438px;
  fill: transparent;
  -webkit-transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715)
      0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
  transition: stroke-dashoffset 2.5s cubic-bezier(0.47, 0, 0.745, 0.715) 0s,
    fill 0.7s cubic-bezier(0.47, 0, 0.745, 0.715) 0.8s;
}

svg.active .svg-elem-5 {
  stroke-dashoffset: 0;
}

.why-us-section {
  overflow: hidden;
  position: relative;
  background: url("../images/hero-bg.jpg") no-repeat center center/cover;
  background-attachment: fixed;
  &:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(#0e6692, 0.7);
  }
  .section-title {
    &__h2 {
      color: $white;
    }
  }
  .inner-item {
    position: relative;
    z-index: 2;
    &__left {
      text-align: center;
      img {
        position: relative;
        width: 500px;
        top: 50px;
      }
    }
    &__right {
      padding-top: 80px;
      padding-left: 68px;
    }
    &__desc {
      width: 100%;
      color: $white;
      max-width: 570px;
      font-weight: 300;
      line-height: 25px;
      p {
        margin-top: 32px;
      }
    }
  }
}

.target-user-section {
  padding: 100px 0;
  .section-title {
    margin-bottom: 100px;
  }
  .container {
    max-width: 1000px;
  }
  .target-item {
    padding: 0 45px;
    &__inner {
      padding: 45px 65px;
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 0 5px -2px rgba($black, 0.5);
      transition: 0.25s ease;
      &:hover {
        color: $white;
        background-color: $primary;
        .target-item__desc,
        .target-item__title {
          color: $white;
        }
      }
    }
    &__title {
      font-size: 20px;
      margin-bottom: 35px;
      transition: 0.25s ease;
    }
    &__desc {
      font-size: 16px;
      font-weight: 300;
      line-height: 25px;
      transition: 0.25s ease;
      color: lighten($black, 30%);
    }
  }
}

.video-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  max-height: 700px;
  margin-bottom: 80px;
  background-color: #010101;
  video {
    width: 100%;
    max-height: 100%;
    transform: scale(0.7);
  }
}

.contact-section {
  padding-bottom: 100px;
  .container {
    margin: 0 auto;
    max-width: 680px;
  }
  .contact-form {
    margin-top: 70px;
    .form-group {
      margin-bottom: 20px;
    }
    .form-input {
      width: 100%;
      height: 60px;
      border-radius: 4px;
      padding: 0 0 0 15px;
      border: 1px solid rgba($black, 0.2);
    }
    .form-group-checkbox {
      label {
        cursor: pointer;
        position: relative;
        display: block;
        [type="checkbox"] {
          position: absolute;
          width: 0;
          height: 0;
          opacity: 0;
          &:checked {
            & ~ span {
              &:after {
                opacity: 1;
              }
            }
          }
        }
        span {
          display: block;
          padding-left: 40px;
          &:before {
            position: absolute;
            content: "";
            top: 2px;
            left: 0;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            border: 1px solid rgba($black, 0.2);
          }
          &:after {
            opacity: 0;
            position: absolute;
            content: "";
            width: 15px;
            height: 5px;
            left: 5px;
            top: 10px;
            transition: 0.2s ease;
            transform: rotate(-45deg);
            border-left: 2px solid rgba($black, 0.2);
            border-bottom: 2px solid rgba($black, 0.2);
          }
        }
      }
    }
    .form-action {
      .action {
        width: 100%;
        display: block;
      }
    }
  }
}

.site-footer {
  padding: 25px;
  text-align: center;
  background-color: $black;
}

.social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  &__icon {
    opacity: 0.4;
    width: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    transition: 0.2s ease;
    &:hover {
      opacity: 0.7;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}

.copyright {
  opacity: 0.4;
  color: $white;
  a {
    color: $white;
    &:hover {
      text-decoration: underline;
    }
  }
}

.cd-top {
  position: fixed;
  z-index: 9999;
  width: 50px;
  height: 50px;
  bottom: -50px;
  right: -50px;
  color: $white;
  line-height: 50px;
  text-align: center;
  border-radius: 100%;
  background: $primary;
  border: 1px solid transparent;
  transition: all 0.5s ease;
  &:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 0;
    right: 0;
    top: 42%;
    margin: auto;
    transform: rotate(135deg);
    border-left: 1px solid $white;
    border-bottom: 1px solid $white;
  }
  &.cd-is-visible {
    bottom: 50px;
    right: 50px;
    @media screen and (max-width: 767px) {
      bottom: 20px;
      right: 20px;
    }
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInUp {
  0% {
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  to {
    transform: translateZ(0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
}

.slideInUp {
  animation-name: slideInUp;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    animation-duration: 1ms !important;
    transition-duration: 1ms !important;
    animation-iteration-count: 1 !important;
  }
}

/*------------------------------
  RESPONSIVE
------------------------------*/
@media screen and (max-width: 1230px) {
  .hero {
    min-height: 600px;
  }
  .why-us-section {
    .inner-item {
      &__right {
        padding-top: 60px;
        padding-left: 30px;
      }
      &__desc {
        font-size: 15px;
        line-height: 23px;
        p {
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    > ul {
      > li {
        a {
          font-size: 14px;
          margin-right: 35px;
          &.action {
            min-width: 110px;
          }
        }
      }
    }
  }

  .hero-content {
    max-width: 560px;
    &__title {
      font-size: 40px;
    }
    &__desc {
      font-size: 22px;
    }
  }

  .section-title {
    &__h2 {
      font-size: 30px;
    }
  }

  .feature-section {
    padding: 60px 0;
  }

  .why-us-section {
    .inner-item {
      width: 100%;
      flex: 0 0 100%;
      max-width: 100%;
      &__left {
        padding-top: 50px;
        img {
          top: 0;
        }
      }
      &__right {
        padding: 50px 0;
      }
      &__desc {
        max-width: 100%;
      }
    }
  }

  .target-user-section {
    padding: 60px 0;
    .section-title {
      margin-bottom: 60px;
    }
    .target-item {
      padding: 0 15px;
      &__inner {
        padding: 45px 15px;
      }
    }
  }

  .video-wrapper {
    margin-bottom: 60px;
    video {
      transform: scale(1);
    }
  }

  .contact-section {
    padding-bottom: 60px;
    .contact-form {
      margin-top: 60px;
    }
  }
}

@media screen and (max-width: 767px) {
  .logo {
    img {
      max-width: 20px;
      margin-right: 8px;
    }
    > a {
      font-size: 25px;
    }
  }

  .nav-toggle {
    position: absolute;
    display: block;
    top: 50%;
    right: 20px;
    width: 24px;
    height: 20px;
    color: pointer;
    transform: translateY(-50%);
    span {
      position: relative;
      width: 100%;
      height: 2px;
      display: block;
      margin-top: 10px;
      background-color: $black;
      &:before,
      &:after {
        position: absolute;
        content: "";
        height: 2px;
        top: 8px;
        left: 0;
        right: 0;
        background-color: $black;
      }
      &:after {
        top: -8px;
      }
    }
    &.active {
      span {
        background-color: transparent;
        &:before,
        &:after {
          top: 0;
          left: 0;
          transform: rotate(-45deg);
          transition: transform 0.5s cubic-bezier(1, 0, 0, 1);
        }
        &:before {
          transform: rotate(45deg);
        }
      }
    }
  }
  .navigation {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    display: none;
    padding: 10px 0 20px 0;
    background-color: $white;
    box-shadow: 0 5px 5px -7px rgba($black, 0.5);
    > ul {
      flex-direction: column;
      align-items: stretch;
      > li {
        padding: 0 20px;
        margin-bottom: 20px;
        &:last-child {
          margin-bottom: 0;
        }
        > a {
          margin: 0;
          display: inline-block;
          &:before {
            content: "";
            display: none;
          }
          &.action {
            padding: 10px;
          }
        }
      }
    }
  }
  .main {
    padding-top: 0;
  }
  .hero {
    min-height: 100vh;
  }
  .section-title {
    padding: 0 15px;
  }

  .why-us-section {
    .section-title {
      padding: 0;
    }
  }
  .hero-content {
    padding: 0 15px;
    &__desc {
      font-size: 18px;
      line-height: 30px;
    }
    &__store {
      > a {
        margin-right: 15px;
        img {
          max-width: 130px;
        }
      }
    }
  }
  .feature-item {
    width: 50%;
    flex: 0 0 50%;
    max-width: 50%;
    &__icon {
      width: 90px;
      height: 90px;
    }
    &__title {
      font-size: 18px;
    }
    &__desc {
      font-size: 14px;
    }
  }

  .target-user-section {
    padding: 40px 0;
    .section-title {
      margin-bottom: 40px;
    }
    .target-item {
      &.target-item--left {
        margin-bottom: 20px;
      }
      &__title {
        font-size: 18px;
        margin-bottom: 10px;
      }
      &__desc {
        font-size: 14px;
      }
      &__inner {
        padding: 20px 15px;
      }
    }
  }

  .col-sm-12 {
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }

  .video-wrapper {
    margin-bottom: 40px;
  }

  .contact-section {
    padding-bottom: 40px;
    .contact-form {
      margin-top: 40px;
      .form-input {
        height: 45px;
        font-size: 14px;
      }
      .form-group-checkbox {
        label {
          span {
            font-size: 14px;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 14px;
  }
}
