@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "icon-custom";
  src: url("./font/icon-custom.eot?2392011");
  src: url("./font/icon-custom.eot?2392011#iefix") format("embedded-opentype"), url("./font/icon-custom.woff2?2392011") format("woff2"), url("./font/icon-custom.woff?2392011") format("woff"), url("./font/icon-custom.ttf?2392011") format("truetype"), url("./font/icon-custom.svg?2392011#icon-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  display: inline-block;
}

[class^="icon-"]:before {
  font-family: "icon-custom";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e800";
}

.icon-home:before {
  content: "\e801";
}

.icon-lab-flask:before {
  content: "\e802";
}

.icon-network:before {
  content: "\e803";
}

.icon-search:before {
  content: "\e804";
}

.icon-star:before {
  content: "\e805";
}

.icon-up-hand:before {
  content: "\e806";
}

.icon-user:before {
  content: "\e807";
}

.icon-download:before {
  content: "\e808";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  color: #000;
  overflow-x: hidden;
  background-color: #f7f6fa;
  font: normal 18px/1.4 "Poppins", sans-serif;
}

input,
button,
textarea,
select {
  outline: none;
  font: normal 18px/1.4 "Poppins", sans-serif;
}

input,
button,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1480px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  padding: 0 46px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.241253);
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.241253);
}

.site-header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.site-header--search-icon {
  opacity: 0.45;
  font-size: 28px;
}

.site-header--nav > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header--nav > ul > li {
  width: 145px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 145px;
          flex: 0 0 145px;
  max-width: 145px;
  margin-right: 20px;
}

.site-header--nav > ul > li:last-child {
  margin-right: 0;
}

.site-header--nav > ul > li > a {
  opacity: 0.45;
  display: block;
  padding: 22px 0;
  text-align: center;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
  border-bottom: 3px solid transparent;
}

.site-header--nav > ul > li > a [class^="icon"] {
  font-size: 28px;
}

.site-header--nav > ul > li.active > a {
  opacity: 1;
  border-bottom-color: #000;
}

.site-header--noti-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 47px;
  height: 47px;
  color: #fff;
  font-size: 15px;
  border-radius: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #dd065c;
}

.page-wrapper {
  display: block;
  padding-top: var(--header-height);
  padding-left: var(--sidebar-width);
}

.page-sidebar {
  position: fixed;
  top: 130px;
  left: 0;
  bottom: 0;
  width: 256px;
  z-index: 100;
  background-color: #000;
  border-top-right-radius: 71px;
}

.page-sidebar--nav {
  padding: 75px 15px 0 50px;
}

.page-sidebar--nav-title {
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  padding: 0 15px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.page-sidebar--nav-menu {
  position: relative;
  z-index: 2;
}

.page-sidebar--nav-menu > li > a {
  color: #fff;
  font-size: 18px;
  padding: 13px 15px;
  display: inline-block;
  vertical-align: middle;
}

.page-sidebar--nav-menu > li.active > a {
  color: #000;
}

.page-sidebar--nav-menu-active {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 51px;
  border-radius: 8px;
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #979797;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1) all;
  transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1) all;
}

.page-sidebar--bottom {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 5;
  bottom: 30px;
  padding: 0 32px;
}

.page-sidebar .upgrade-block--inner {
  padding: 25px;
  display: block;
  min-height: 126px;
  border-radius: 25px;
  background-color: #fff;
  background-image: url("../images/icon-rocket.png");
  background-repeat: no-repeat;
  background-position: bottom 10px right 15px;
  background-size: 73px;
}

.page-sidebar .upgrade-block--title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 3px;
}

.page-sidebar .upgrade-block--sub-title {
  font-size: 12px;
  font-weight: normal;
}

.page-sidebar .storage-block {
  margin: 60px 0 30px 0;
}

.page-sidebar .storage-block--progress {
  position: relative;
  height: 5px;
  width: 100%;
  overflow: hidden;
  border-radius: 8px;
  background-color: #fff;
}

.page-sidebar .storage-block--progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #ffc00c;
}

.page-sidebar .storage-block--info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-sidebar .storage-block--info > span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}

.page-sidebar .user-name {
  text-align: right;
}

.page-sidebar .user-name > a {
  color: #fff;
  font-size: 19px;
  font-weight: bold;
}

.page-content {
  padding: 112px 155px 50px 115px;
}

.page-content--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-content--header-title {
  font-size: 33px;
  font-weight: 600;
}

.page-content--header-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-content--header-option > li {
  margin-right: 45px;
}

.page-content--header-option > li:last-child {
  margin-right: 0;
}

.page-content--header-option-icon {
  opacity: 0.3;
  font-size: 26px;
}

.page-content--header-option-icon.active {
  opacity: 1;
}

.page-content--header-option .filter-select {
  position: relative;
}

.page-content--header-option .filter-select > a {
  position: relative;
  opacity: 0.45;
  font-size: 21px;
  font-weight: 200;
}

.page-content--header-option .filter-select > a:after {
  content: "";
  width: 12px;
  height: 12px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='7' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M7 6l5-4V1l-1-1H1L0 1v1l5 4a2 2 0 002 0z' fill='%23444A58'/%3E%3C/svg%3E") no-repeat center center;
  background-size: 12px;
}

.page-content--header-option .filter-select--dropdown {
  position: absolute;
  width: 94px;
  top: 100%;
  left: 0;
  opacity: 0;
  z-index: 5;
  padding: 5px 0;
  margin-top: 3px;
  visibility: hidden;
  border-radius: 7px;
  background-color: #fff;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  -webkit-transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, visibility 0.2s ease, -webkit-transform 0.2s ease;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease;
  transition: opacity 0.2s ease, visibility 0.2s ease, transform 0.2s ease, -webkit-transform 0.2s ease;
  border: 1px solid rgba(151, 151, 151, 0.269163);
}

.page-content--header-option .filter-select--dropdown > a {
  display: block;
  padding: 1px 15px;
  font-size: 21px;
  font-weight: 200;
  line-height: 31px;
  -webkit-transition: 0.25s ease;
  transition: 0.25s ease;
}

.page-content--header-option .filter-select--dropdown > a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.page-content--header-option .filter-select--dropdown.active {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.page-content--wrapper {
  margin-top: 50px;
}

.page-content--wrapper .row {
  margin: 0 -30px;
}

.page-content--wrapper .doc-item {
  width: 25%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
  padding: 0 30px;
}

.page-content--wrapper .doc-item--inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 94px;
  overflow: hidden;
  border-radius: 9px;
  margin-bottom: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0 10px 43px;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.page-content--wrapper .doc-item--inner:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  width: 7px;
  background-color: #000;
}

.page-content--wrapper .doc-item--title {
  position: relative;
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  margin: 10px 0 0;
}

.page-content--wrapper .doc-item--name {
  overflow: hidden;
  max-width: 158px;
  font-size: 19px;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.page-content--wrapper .doc-item--action {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.page-content--wrapper .doc-item--action > a {
  font-size: 15px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.page-content--wrapper .doc-item--action > a:last-child {
  margin-right: 0;
}

.page-content--wrapper .doc-item--red:before {
  background-color: #d51d60;
}

.page-content--wrapper .doc-item--pink:before {
  background-color: #d2389b;
}

.page-content--wrapper .doc-item--file:before {
  display: none;
}

.page-content--wrapper .doc-item--file-doc {
  background-color: #0062c4;
}

.page-content--wrapper .doc-item--file-doc .doc-item--name {
  color: #fff;
}

.page-content--wrapper .doc-item--file-doc .doc-item--action > a {
  color: #fff;
}

.page-content--wrapper .doc-item--file-media {
  background-color: #000;
}

.page-content--wrapper .doc-item--file-media .doc-item--name {
  color: #fff;
}

.page-content--wrapper .doc-item--file-media .doc-item--action > a {
  color: #fff;
}

.page-content--wrapper .doc-item--file-xls {
  background-color: #0c7c41;
}

.page-content--wrapper .doc-item--file-xls .doc-item--name {
  color: #fff;
}

.page-content--wrapper .doc-item--file-xls .doc-item--action > a {
  color: #fff;
}

.page-content--wrapper .doc-item--file-pdf {
  background-color: #ba0808;
}

.page-content--wrapper .doc-item--file-pdf .doc-item--name {
  color: #fff;
}

.page-content--wrapper .doc-item--file-pdf .doc-item--action > a {
  color: #fff;
}

.page-content--wrapper .doc-item--file-ppt {
  background-color: #be3312;
}

.page-content--wrapper .doc-item--file-ppt .doc-item--name {
  color: #fff;
}

.page-content--wrapper .doc-item--file-ppt .doc-item--action > a {
  color: #fff;
}

.page-content--wrapper .doc-item--tags {
  font-size: 0;
  margin: 15px 0 0;
}

.page-content--wrapper .doc-item--tags-tag {
  font-size: 11px;
  color: #000;
  padding: 0 10px;
  line-height: 21px;
  border-radius: 8px;
  margin-right: 6px;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
  -webkit-box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.25);
          box-shadow: 2px 2px 4px -1px rgba(0, 0, 0, 0.25);
}

.page-content--wrapper .doc-item--tags-tag:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */