@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: "icon-custom";
  src: url("./font/icon-custom.eot?2392011");
  src: url("./font/icon-custom.eot?2392011#iefix") format("embedded-opentype"), url("./font/icon-custom.woff2?2392011") format("woff2"), url("./font/icon-custom.woff?2392011") format("woff"), url("./font/icon-custom.ttf?2392011") format("truetype"), url("./font/icon-custom.svg?2392011#icon-custom") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"] {
  display: inline-block;
}

[class^="icon-"]:before {
  font-family: "icon-custom";
  font-style: normal;
  font-weight: normal;
  speak: never;
  display: inline-block;
  text-decoration: inherit;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-folder:before {
  content: "\e800";
}

.icon-home:before {
  content: "\e801";
}

.icon-lab-flask:before {
  content: "\e802";
}

.icon-network:before {
  content: "\e803";
}

.icon-search:before {
  content: "\e804";
}

.icon-star:before {
  content: "\e805";
}

.icon-star-filled:before {
  content: "\e809";
}

.icon-up-hand:before {
  content: "\e806";
}

.icon-user:before {
  content: "\e807";
}

.icon-download:before {
  content: "\e808";
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

body {
  color: #000;
  overflow-x: hidden;
  background-color: #f7f6fa;
  font: normal 18px/1.4 "Poppins", sans-serif;
}

body.modal-open {
  overflow: hidden;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="clear"],
button,
textarea,
select {
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  font: normal 18px/1.4 "Poppins", sans-serif;
}

input[type="button"],
input[type="submit"],
input[type="clear"],
button {
  cursor: pointer;
}

input[type="button"][disabled],
input[type="submit"][disabled],
input[type="clear"][disabled],
button[disabled] {
  cursor: not-allowed;
  opacity: 0.2;
}

select {
  background: #fff url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24'%3E%3Cpath fill='none' d='M0 0h24v24H0z'/%3E%3Cpath d='M12 13.172l4.95-4.95 1.414 1.414L12 16 5.636 9.636 7.05 8.222z'/%3E%3C/svg%3E") no-repeat;
  background-position: center right 7px;
  background-size: 22px;
  padding-right: 34px;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1480px;
}

.container-fluid {
  width: 100%;
  padding: 0 46px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  display: none;
  overflow-y: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-wrapper.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: 0.5s opac forwards ease-in-out;
          animation: 0.5s opac forwards ease-in-out;
}

@media screen and (max-width: 767px) {
  .modal-wrapper.active {
    display: block;
  }
}

.modal-wrapper.modal-wrapper-lg .modal-wrapper--inner {
  width: 1024px;
}

@media screen and (max-width: 767px) {
  .modal-wrapper.modal-wrapper-lg .modal-wrapper--inner {
    width: 400px;
  }
}

.modal-wrapper.modal-wrapper-xl .modal-wrapper--inner {
  width: 1304px;
}

@media screen and (max-width: 767px) {
  .modal-wrapper.modal-wrapper-xl .modal-wrapper--inner {
    width: 400px;
  }
}

.modal-wrapper--inner {
  position: relative;
  width: 400px;
  margin: 0 auto;
  max-width: 100%;
  padding: 40px 30px;
  border-radius: 5px;
  background-color: #fff;
}

@media screen and (max-width: 1024px) {
  .modal-wrapper--inner {
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .modal-wrapper--inner {
    margin: 40px auto;
  }
}

.modal-wrapper--inner.red-alert .modal-header--title {
  color: #d0021b;
}

.modal-wrapper--inner.red-alert .modal-content .form-action--btn {
  background-color: #d0021b;
}

.modal-wrapper .modal-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper .modal-close span {
  width: 20px;
  height: 20px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-wrapper .modal-close span:before, .modal-wrapper .modal-close span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}

.modal-wrapper .modal-close span:before {
  width: 10px;
  height: 2px;
}

.modal-wrapper .modal-close span:after {
  width: 2px;
  height: 10px;
}

.modal-wrapper .modal-header--title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 767px) {
  .modal-wrapper .modal-header--title {
    font-size: 22px;
  }
}

.modal-wrapper .modal-header--choose {
  margin-bottom: 40px;
}

.modal-wrapper .modal-header--choose select {
  border: none;
  max-width: 100%;
  font-size: 28px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.5px;
}

.modal-wrapper .modal-header--choose select option {
  font-size: 16px;
}

@media screen and (max-width: 767px) {
  .modal-wrapper .modal-header--choose select {
    font-size: 22px;
  }
}

.modal-wrapper .modal-content .form-group {
  position: relative;
  margin-bottom: 22px;
}

.modal-wrapper .modal-content .form-group:last-of-type {
  margin-bottom: 0;
}

.modal-wrapper .modal-content .form-group > label {
  position: absolute;
  top: -5px;
  left: 10px;
  z-index: 2;
  padding: 0 5px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
}

.modal-wrapper .modal-content .form-group .form-control {
  height: 36px;
  width: 100%;
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 8px 0;
  border-radius: 3px;
  border: 1px solid #000;
}

.modal-wrapper .modal-content .form-group select.form-control {
  padding-right: 34px;
}

.modal-wrapper .modal-content .form-group textarea.form-control {
  height: 88px;
  resize: none;
  padding: 8px;
}

.modal-wrapper .modal-content .form-group--text {
  font-size: 22px;
  color: #1c282c;
  letter-spacing: -1px;
  padding-bottom: 10px;
}

.modal-wrapper .modal-content .form-group--inline-radio {
  padding-bottom: 10px;
}

.modal-wrapper .modal-content .form-group--inline-radio > label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 50px;
}

.modal-wrapper .modal-content .form-group--inline-radio > label:last-child {
  margin-right: 0;
}

.modal-wrapper .modal-content .form-group--inline-radio > label span {
  margin-left: 10px;
}

.modal-wrapper .modal-content .form-group--label-sm {
  color: #1c282c;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 15px;
}

.modal-wrapper .modal-content .form-group--file {
  position: relative;
  text-align: right;
}

.modal-wrapper .modal-content .form-group--file > label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border: none;
  height: 40px;
  color: #fff;
  min-width: 75px;
  padding: 0 10px;
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  letter-spacing: -0.5px;
  background-color: #000;
}

.modal-wrapper .modal-content .form-group--file input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  width: 100%;
  height: 40px;
  cursor: pointer;
  display: inline-block;
}

.modal-wrapper .modal-content .form-group--upload-preview {
  width: 230px;
  height: 230px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.modal-wrapper .modal-content .form-group--hint {
  color: #bebebe;
  font-size: 8px;
  font-weight: 500;
  position: absolute;
  bottom: 3px;
  right: 10px;
  z-index: 2;
}

.modal-wrapper .modal-content .form-group--upload-control {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
  cursor: pointer;
  position: relative;
  border-radius: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px dashed #d7e4f8;
  background-color: #fff;
}

.modal-wrapper .modal-content .form-group--upload-control input[type="file"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  cursor: pointer;
}

.modal-wrapper .modal-content .form-group--upload-control img {
  width: 38px;
  display: block;
  margin-bottom: 12px;
}

.modal-wrapper .modal-content .form-group--upload-control span {
  font-size: 9px;
  color: #bcc0c4;
}

.modal-wrapper .modal-content .form-group--upload-list {
  padding-top: 5px;
}

.modal-wrapper .modal-content .form-group--upload-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 11px;
  margin-top: 10px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-wrapper .modal-content .form-group--upload-list-item > span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: block;
  max-width: 92%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal-wrapper .modal-content .form-group--upload-list-item .close-icon {
  position: relative;
  display: block;
  width: 10px;
  height: 10px;
}

.modal-wrapper .modal-content .form-group--upload-list-item .close-icon span {
  width: 10px;
  height: 10px;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-wrapper .modal-content .form-group--upload-list-item .close-icon span:before, .modal-wrapper .modal-content .form-group--upload-list-item .close-icon span:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #b9bec2;
}

.modal-wrapper .modal-content .form-group--upload-list-item .close-icon span:before {
  width: 10px;
  height: 2px;
}

.modal-wrapper .modal-content .form-group--upload-list-item .close-icon span:after {
  width: 2px;
  height: 10px;
}

.modal-wrapper .modal-content .form-group--checkbox {
  padding-bottom: 10px;
}

.modal-wrapper .modal-content .form-group--checkbox-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.modal-wrapper .modal-content .form-group--checkbox-item > input[type="checkbox"],
.modal-wrapper .modal-content .form-group--checkbox-item > input[type="radio"] {
  width: 0;
  height: 0;
  opacity: 0;
}

.modal-wrapper .modal-content .form-group--checkbox-item > input[type="checkbox"]:checked ~ span:after,
.modal-wrapper .modal-content .form-group--checkbox-item > input[type="radio"]:checked ~ span:after {
  opacity: 1;
}

.modal-wrapper .modal-content .form-group--checkbox-item > span {
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}

.modal-wrapper .modal-content .form-group--checkbox-item > span:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 21px;
  height: 21px;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #b4bfc9;
}

.modal-wrapper .modal-content .form-group--checkbox-item > span:after {
  position: absolute;
  opacity: 0;
  content: "";
  top: 7px;
  left: 5px;
  width: 10px;
  height: 4px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-left: 2px solid #b4bfc9;
  border-bottom: 2px solid #b4bfc9;
}

.modal-wrapper .modal-content .form-action {
  text-align: right;
  margin-top: 25px;
}

.modal-wrapper .modal-content .form-action .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-wrapper .modal-content .form-action--btn {
  border: none;
  height: 40px;
  color: #fff;
  min-width: 75px;
  padding: 0 10px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  letter-spacing: -0.5px;
  background-color: #000;
  margin-right: 15px;
}

.modal-wrapper .modal-content .form-action--btn:last-child {
  margin-right: 0;
}

.modal-wrapper .modal-content .form-action--btn-red {
  background-color: #d0021b;
}

.modal-wrapper .modal-content > .row {
  margin: 0 -15px;
}

.modal-wrapper .modal-content .modal-item-inline {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
  padding: 0 15px;
  margin-bottom: 22px;
}

@media screen and (max-width: 991px) {
  .modal-wrapper .modal-content .modal-item-inline {
    width: 50%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 767px) {
  .modal-wrapper .modal-content .modal-item-inline {
    width: 100%;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.search-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 10000;
  overflow-y: auto;
  padding-top: 150px;
  padding-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 767px) {
  .search-modal {
    padding-top: 60px;
  }
}

.search-modal--close {
  position: fixed;
  top: 118px;
  right: 118px;
  width: 35px;
  height: 35px;
  display: block;
  border-radius: 50%;
}

.search-modal--close span {
  width: 100%;
  height: 100%;
  display: block;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.search-modal--close span:before, .search-modal--close span:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
}

.search-modal--close span:before {
  width: 35px;
  height: 3px;
}

.search-modal--close span:after {
  width: 3px;
  height: 35px;
}

@media screen and (max-width: 991px) {
  .search-modal--close {
    width: 25px;
    height: 25px;
    top: 20px;
    right: 20px;
  }
  .search-modal--close span:before {
    width: 25px;
  }
  .search-modal--close span:after {
    height: 25px;
  }
}

.search-modal--inner {
  width: 680px;
  padding: 0 20px;
  max-width: 100%;
  margin: 0 auto;
}

.search-modal--searchbox input {
  border: none;
  width: 100%;
  color: #fff;
  font-size: 69px;
  font-weight: bold;
  background-color: transparent;
}

@media screen and (max-width: 991px) {
  .search-modal--searchbox input {
    font-size: 30px;
  }
}

.search-modal--searchbox input::-webkit-input-placeholder {
  opacity: 1;
  color: #fff;
}

.search-modal--searchbox input:-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.search-modal--searchbox input::-ms-input-placeholder {
  opacity: 1;
  color: #fff;
}

.search-modal--searchbox input::placeholder {
  opacity: 1;
  color: #fff;
}

.search-modal--item {
  margin-top: 55px;
}

@media screen and (max-width: 767px) {
  .search-modal--item {
    margin-top: 30px;
  }
}

.search-modal--item > h3 {
  font-size: 29px;
  font-weight: bold;
  color: #a7a7a7;
}

@media screen and (max-width: 991px) {
  .search-modal--item > h3 {
    font-size: 22px;
  }
}

.search-modal--item > ul li {
  margin-top: 10px;
}

.search-modal--item > ul li a {
  font-size: 21px;
  color: #fff;
}

@media screen and (max-width: 991px) {
  .search-modal--item > ul li {
    margin-top: 5px;
  }
  .search-modal--item > ul li a {
    font-size: 18px;
  }
}

body {
  background: #f9f9ff;
}

.mb-15 {
  margin-bottom: 15px !important;
}

.sp-page-wrapper {
  padding: 0 58px;
}

.sp-header {
  padding: 75px 0 92px 0;
}

.sp-header--logo a {
  display: inline-block;
  vertical-align: middle;
}

.sp-profile-wrap {
  width: 896px;
  max-width: 100%;
  padding-left: 100px;
  margin-bottom: 100px;
}

.sp-card {
  overflow: hidden;
  border-radius: 9px;
  margin-bottom: 14px;
  background-color: #fff;
  border: 1px solid #cbd4df;
}

.sp-card--inner {
  padding: 25px;
}

.sp-card.open .sp-card--header:after {
  top: 10px;
  -webkit-transform: rotate(-45deg) scale(-1);
          transform: rotate(-45deg) scale(-1);
}

.sp-card--header {
  cursor: pointer;
  position: relative;
}

.sp-card--header.no-accordion {
  cursor: default;
}

.sp-card--header.no-accordion:after {
  content: none;
  display: none;
}

.sp-card--header:after {
  position: absolute;
  content: "";
  top: 4px;
  right: 4px;
  width: 11px;
  height: 11px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.25s 0.1s ease;
  transition: 0.25s 0.1s ease;
  border-left: 4px solid rgba(0, 0, 0, 0.26);
  border-bottom: 4px solid rgba(0, 0, 0, 0.26);
}

.sp-card--title {
  font-size: 20px;
  line-height: 30px;
  font-weight: normal;
  letter-spacing: -0.69px;
}

.sp-card--desc {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.48px;
}

.sp-card--content {
  margin-top: 20px;
}

.sp-card--content.expanded {
  max-height: none;
}

.sp-profile--cover {
  position: relative;
  min-height: 200px;
  background-color: #000;
}

.sp-profile--details {
  padding: 55px 25px 25px;
}

.sp-profile--img {
  position: absolute;
  bottom: -55px;
  left: 25px;
  z-index: 9;
  width: 158px;
  height: 158px;
  border-radius: 50%;
  background-color: #f9fafb;
}

.sp-profile--img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.sp-profile--name {
  font-size: 24px;
  font-weight: normal;
  margin: 10px 0 2px 0;
  letter-spacing: -0.55px;
}

.sp-profile--desc {
  font-size: 18px;
  margin-bottom: 5px;
  letter-spacing: -0.41px;
}

.sp-profile--location {
  font-size: 16px;
  letter-spacing: -0.37px;
}

.sp-timeline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 25px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sp-timeline:last-child {
  margin-bottom: 0;
}

.sp-timeline:last-child .sp-timeline--content {
  border-bottom: none;
}

.sp-timeline:last-child .sp-timeline--block:last-of-type {
  padding-bottom: 0;
}

.sp-timeline--img {
  width: 80px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 80px;
          flex: 0 0 80px;
  padding-right: 20px;
}

.sp-timeline--img img {
  display: block;
  margin: 0 auto;
}

.sp-timeline--content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-bottom: 1px solid #e9e5df;
}

.sp-timeline--title {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -0.55px;
}

.sp-timeline--score {
  font-size: 14px;
  margin-bottom: 20px;
  letter-spacing: -0.48px;
}

.sp-timeline--score ~ .sp-timeline--block:last-child:after {
  display: none;
}

.sp-timeline--score ~ .sp-timeline--block:before {
  position: absolute;
  content: "";
  width: 8px;
  height: 8px;
  top: 16px;
  left: -60px;
  border-radius: 50%;
  background-color: #e9e5df;
}

.sp-timeline--score ~ .sp-timeline--block:after {
  position: absolute;
  content: "";
  width: 2px;
  top: 35px;
  left: -57px;
  bottom: -7px;
  background-color: #e9e5df;
}

.sp-timeline--block {
  position: relative;
  padding-bottom: 20px;
}

.sp-timeline--desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px 0 2px 0;
}

.sp-timeline--desc-item {
  font-size: 14px;
  position: relative;
  letter-spacing: -0.48px;
}

.sp-timeline--desc-item:last-child:after {
  content: none;
  display: none;
}

.sp-timeline--desc-item:after {
  content: "";
  width: 2px;
  height: 2px;
  margin: 0 8px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
}

.sp-timeline--date {
  font-size: 14px;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: -0.48px;
}

.sp-timeline--media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 5px 0 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-timeline--media-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 39px;
  height: 39px;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px 10px 10px 0;
  background-color: #000;
}

.sp-timeline--media-item:last-child {
  margin-right: 0;
}

.sp-timeline--media-item img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.sp-timeline--date-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sp-timeline--date-wrap .sp-timeline--date:last-child:after {
  content: none;
  display: none;
}

.sp-timeline--date-wrap .sp-timeline--date:after {
  content: "";
  width: 2px;
  height: 2px;
  margin: 0 8px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #000;
}

.sp-timeline--info {
  font-size: 14px;
  margin-top: 10px;
  letter-spacing: -0.48px;
}

.sp-card--row {
  margin: 20px 0 0;
  padding-top: 25px;
  position: relative;
}

.sp-card--row:before {
  position: absolute;
  content: "";
  top: 0;
  left: -25px;
  right: -25px;
  height: 1px;
  background-color: #cbd4df;
}

.sp-card--row .sp-card--content {
  margin-top: 25px;
}

.sp-card--academics {
  overflow: hidden;
  max-height: var(--academics-height);
}

.sp-card--coursework {
  overflow: hidden;
  max-height: var(--coursework-height);
}

.sp-card--extracurricular {
  overflow: hidden;
  max-height: var(--extracurriculars-height);
}

.sp-card--honors .sp-timeline--img {
  width: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
}

.sp-more-less {
  margin-top: 20px;
}

.sp-more-less a {
  color: #000;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  padding-right: 30px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.36px;
}

.sp-more-less a.active:after {
  top: 2px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.sp-more-less a:after {
  position: absolute;
  content: "";
  top: 8px;
  right: 4px;
  width: 9px;
  height: 9px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
}

.post-preview {
  position: relative;
  width: 944px;
  margin: 0 auto;
  max-width: 95%;
  padding: 0 45px;
}

.post-preview--nav {
  display: none;
}

.post-preview--nav a {
  position: absolute;
  cursor: pointer;
  top: 50%;
  z-index: 9;
  width: 12px;
  height: 22px;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.post-preview--nav-prev {
  left: 0;
  background: url("../images/arrow-left-1.svg") no-repeat center center;
  background-size: 12px;
}

.post-preview--nav-next {
  right: 0;
  background: url("../images/arrow-right-1.svg") no-repeat center center;
  background-size: 12px;
}

.post-gallery {
  position: relative;
  width: 62%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62%;
          flex: 0 0 62%;
  max-width: 62%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
}

.post-gallery--inner.owl-carousel {
  width: 100%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  position: static;
}

.post-gallery--inner.owl-carousel .owl-stage {
  font-size: 0;
  width: 200%;
}

.post-gallery--inner.owl-carousel .owl-item {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.post-gallery--inner.owl-carousel .post-gallery--item img {
  width: 100%;
  display: block;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.post-gallery .owl-nav button {
  position: absolute;
  cursor: pointer;
  top: 50%;
  z-index: 9;
  width: 21px;
  height: 21px;
  display: block;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.post-gallery .owl-nav button span {
  display: none;
}

.post-gallery .owl-nav button.owl-prev {
  left: 15px;
  background: url("../images/arrow-circle-left.svg") no-repeat center center;
  background-size: 21px;
}

.post-gallery .owl-nav button.owl-next {
  right: 15px;
  background: url("../images/arrow-circle-right.svg") no-repeat center center;
  background-size: 21px;
}

.post-gallery .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 9;
  bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post-gallery .owl-dots .owl-dot {
  width: 7px;
  height: 7px;
  opacity: 0.4;
  margin: 0 3px;
  cursor: pointer;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  background-color: #fff;
}

.post-gallery .owl-dots .owl-dot.active {
  opacity: 1;
}

.post-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 38%;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
  max-width: 38%;
  min-height: 515px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}

.post-info--user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 64px;
  padding: 14px 10px;
  position: relative;
  border-bottom: 1px solid #efefef;
}

.post-info--user-img {
  width: 34px;
  height: 34px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 34px;
          flex: 0 0 34px;
  border-radius: 50%;
}

.post-info--user-img img {
  width: 34px;
  height: 34px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.post-info--user-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-left: 10px;
  padding-right: 22px;
}

.post-info--user-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.post-info--user-name strong {
  font-size: 12px;
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.5px;
}

.post-info--user-name span {
  position: relative;
  font-size: 12px;
  margin-left: 10px;
  padding-left: 14px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: -0.5px;
}

.post-info--user-name span:before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 2px;
  height: 2px;
  border-radius: 40%;
  background-color: #000;
}

.post-info--user-detail {
  font-size: 10px;
  color: #8f908f;
  letter-spacing: -0.5px;
}

.post-info--detail {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 40px;
  overflow-y: auto;
  max-height: 610px;
}

.post-info--detail ul li {
  margin-bottom: 10px;
}

.post-info--detail ul li strong {
  display: block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.32px;
}

.post-info--detail ul li p {
  font-size: 12px;
  margin-top: 2px;
  letter-spacing: -0.27px;
}

.tippy-box {
  width: 200px;
  color: #000;
  font-size: 12px;
  padding: 10px 0;
  line-height: normal;
  border-radius: 11px;
  letter-spacing: -0.55px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.190642);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.190642);
}
/*# sourceMappingURL=sv-user-profile.css.map */