@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
}

a {
  color: #262626;
  text-decoration: none;
}

body {
  color: #262626;
  overflow-x: hidden;
  font: normal 16px/1.4 "Poppins", sans-serif;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="clear"],
button,
textarea,
select {
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font: normal 16px/1.4 "Poppins", sans-serif;
}

select {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' width='24' height='24' stroke='currentColor' stroke-width='2' fill='none' stroke-linecap='round' stroke-linejoin='round' class='css-i6dzq1'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 10px center;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-justify-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-justify-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flag {
  display: inline-block;
  position: relative;
  width: 16px;
  height: 11px;
  background: url("../images/flags.png") no-repeat;
}

.flag.flag-gu {
  background-position: -96px -55px;
}

.flag.flag-mn {
  background-position: -208px -88px;
}

.flag.flag-va {
  background-position: -48px -154px;
}

.flag.flag-tibet {
  background-position: -32px -143px;
}

.flag.flag-fo {
  background-position: -64px -44px;
}

.flag.flag-th {
  background-position: -16px -143px;
}

.flag.flag-tr {
  background-position: -144px -143px;
}

.flag.flag-tl {
  background-position: -80px -143px;
}

.flag.flag-kz {
  background-position: -144px -77px;
}

.flag.flag-zm {
  background-position: -16px -165px;
}

.flag.flag-uz {
  background-position: -32px -154px;
}

.flag.flag-dk {
  background-position: -64px -33px;
}

.flag.flag-scotland {
  background-position: -176px -121px;
}

.flag.flag-gi {
  background-position: -224px -44px;
}

.flag.flag-gy {
  background-position: -128px -55px;
}

.flag.flag-bj {
  background-position: -112px -11px;
}

.flag.flag-fr {
  background-position: -80px -44px;
}

.flag.flag-mo {
  background-position: -224px -88px;
}

.flag.flag-ir {
  background-position: -112px -66px;
}

.flag.flag-io {
  background-position: -80px -66px;
}

.flag.flag-tm {
  background-position: -96px -143px;
}

.flag.flag-ch {
  background-position: -96px -22px;
}

.flag.flag-mt {
  background-position: -32px -99px;
}

.flag.flag-nl {
  background-position: -240px -99px;
}

.flag.flag-gp {
  background-position: -16px -55px;
}

.flag.flag-im {
  background-position: -48px -66px;
}

.flag.flag-tv {
  background-position: -176px -143px;
}

.flag.flag-mu {
  background-position: -48px -99px;
}

.flag.flag-pe {
  background-position: -96px -110px;
}

.flag.flag-vi {
  background-position: -112px -154px;
}

.flag.flag-hn {
  background-position: -176px -55px;
}

.flag.flag-ss {
  background-position: -128px -132px;
}

.flag.flag-ae {
  background-position: -16px 0;
}

.flag.flag-td {
  background-position: -240px -132px;
}

.flag.flag-pw {
  background-position: 0 -121px;
}

.flag.flag-nu {
  background-position: -32px -110px;
}

.flag.flag-bt {
  background-position: -208px -11px;
}

.flag.flag-ms {
  background-position: -16px -99px;
}

.flag.flag-cv {
  background-position: -240px -22px;
}

.flag.flag-es {
  background-position: -224px -33px;
}

.flag.flag-mh {
  background-position: -144px -88px;
}

.flag.flag-la {
  background-position: -160px -77px;
}

.flag.flag-vn {
  background-position: -128px -154px;
}

.flag.flag-py {
  background-position: -16px -121px;
}

.flag.flag-br {
  background-position: -176px -11px;
}

.flag.flag-ye {
  background-position: -224px -154px;
}

.flag.flag-ie {
  background-position: 0 -66px;
}

.flag.flag-gh {
  background-position: -208px -44px;
}

.flag.flag-cg {
  background-position: -80px -22px;
}

.flag.flag-cu {
  background-position: -224px -22px;
}

.flag.flag-hu {
  background-position: -224px -55px;
}

.flag.flag-sg {
  background-position: -224px -121px;
}

.flag.flag-at {
  background-position: -176px 0;
}

.flag.flag-lk {
  background-position: -224px -77px;
}

.flag.flag-vu {
  background-position: -144px -154px;
}

.flag.flag-bo {
  background-position: -160px -11px;
}

.flag.flag-jo {
  background-position: -208px -66px;
}

.flag.flag-er {
  background-position: -208px -33px;
}

.flag.flag-za {
  background-position: -256px -154px;
}

.flag.flag-rs {
  background-position: -80px -121px;
}

.flag.flag-nr {
  background-position: -16px -110px;
}

.flag.flag-ls {
  background-position: -256px -77px;
}

.flag.flag-jm {
  background-position: -192px -66px;
}

.flag.flag-tz {
  background-position: -208px -143px;
}

.flag.flag-ki {
  background-position: -16px -77px;
}

.flag.flag-sj {
  background-position: 0 -132px;
}

.flag.flag-cz {
  background-position: -16px -33px;
}

.flag.flag-pg {
  background-position: -128px -110px;
}

.flag.flag-lv {
  background-position: -32px -88px;
}

.flag.flag-do {
  background-position: -96px -33px;
}

.flag.flag-lu {
  background-position: -16px -88px;
}

.flag.flag-no {
  background-position: -256px -99px;
}

.flag.flag-kw {
  background-position: -112px -77px;
}

.flag.flag-mx {
  background-position: -96px -99px;
}

.flag.flag-yt {
  background-position: -240px -154px;
}

.flag.flag-ly {
  background-position: -48px -88px;
}

.flag.flag-cy {
  background-position: 0 -33px;
}

.flag.flag-ph {
  background-position: -144px -110px;
}

.flag.flag-my {
  background-position: -112px -99px;
}

.flag.flag-sm {
  background-position: -48px -132px;
}

.flag.flag-et {
  background-position: -240px -33px;
}

.flag.flag-ru {
  background-position: -96px -121px;
}

.flag.flag-tj {
  background-position: -48px -143px;
}

.flag.flag-ai {
  background-position: -64px 0;
}

.flag.flag-pl {
  background-position: -176px -110px;
}

.flag.flag-kp {
  background-position: -64px -77px;
}

.flag.flag-uy {
  background-position: -16px -154px;
}

.flag.flag-gb {
  background-position: -112px -44px;
}

.flag.flag-gs {
  background-position: -64px -55px;
}

.flag.flag-kurdistan {
  background-position: -96px -77px;
}

.flag.flag-rw {
  background-position: -112px -121px;
}

.flag.flag-ec {
  background-position: -128px -33px;
}

.flag.flag-mm {
  background-position: -192px -88px;
}

.flag.flag-pa {
  background-position: -80px -110px;
}

.flag.flag-wales {
  background-position: -160px -154px;
}

.flag.flag-kg {
  background-position: -256px -66px;
}

.flag.flag-ve {
  background-position: -80px -154px;
}

.flag.flag-tk {
  background-position: -64px -143px;
}

.flag.flag-ca {
  background-position: -16px -22px;
}

.flag.flag-is {
  background-position: -128px -66px;
}

.flag.flag-ke {
  background-position: -240px -66px;
}

.flag.flag-ro {
  background-position: -64px -121px;
}

.flag.flag-gq {
  background-position: -32px -55px;
}

.flag.flag-pt {
  background-position: -256px -110px;
}

.flag.flag-tf {
  background-position: -256px -132px;
}

.flag.flag-ad {
  background-position: 0 0;
}

.flag.flag-sk {
  background-position: -16px -132px;
}

.flag.flag-pm {
  background-position: -192px -110px;
}

.flag.flag-om {
  background-position: -64px -110px;
}

.flag.flag-an {
  background-position: -112px 0;
}

.flag.flag-ws {
  background-position: -192px -154px;
}

.flag.flag-sh {
  background-position: -240px -121px;
}

.flag.flag-mp {
  background-position: -240px -88px;
}

.flag.flag-gt {
  background-position: -80px -55px;
}

.flag.flag-cf {
  background-position: -64px -22px;
}

.flag.flag-zanzibar {
  background-position: 0 -165px;
}

.flag.flag-mw {
  background-position: -80px -99px;
}

.flag.flag-catalonia {
  background-position: -32px -22px;
}

.flag.flag-ug {
  background-position: -240px -143px;
}

.flag.flag-je {
  background-position: -176px -66px;
}

.flag.flag-km {
  background-position: -32px -77px;
}

.flag.flag-in {
  background-position: -64px -66px;
}

.flag.flag-bf {
  background-position: -48px -11px;
}

.flag.flag-mc {
  background-position: -80px -88px;
}

.flag.flag-sy {
  background-position: -192px -132px;
}

.flag.flag-sn {
  background-position: -64px -132px;
}

.flag.flag-kr {
  background-position: -80px -77px;
}

.flag.flag-eu {
  background-position: -256px -33px;
}

.flag.flag-bn {
  background-position: -144px -11px;
}

.flag.flag-st {
  background-position: -144px -132px;
}

.flag.flag-england {
  background-position: -192px -33px;
}

.flag.flag-lc {
  background-position: -192px -77px;
}

.flag.flag-dm {
  background-position: -80px -33px;
}

.flag.flag-be {
  background-position: -32px -11px;
}

.flag.flag-ni {
  background-position: -224px -99px;
}

.flag.flag-ua {
  background-position: -224px -143px;
}

.flag.flag-mz {
  background-position: -128px -99px;
}

.flag.flag-pf {
  background-position: -112px -110px;
}

.flag.flag-tn {
  background-position: -112px -143px;
}

.flag.flag-ee {
  background-position: -144px -33px;
}

.flag.flag-xk {
  background-position: -208px -154px;
}

.flag.flag-sx {
  background-position: -176px -132px;
}

.flag.flag-sd {
  background-position: -192px -121px;
}

.flag.flag-gd {
  background-position: -128px -44px;
}

.flag.flag-ci {
  background-position: -112px -22px;
}

.flag.flag-sz {
  background-position: -208px -132px;
}

.flag.flag-cl {
  background-position: -144px -22px;
}

.flag.flag-fi {
  background-position: 0 -44px;
}

.flag.flag-ga {
  background-position: -96px -44px;
}

.flag.flag-jp {
  background-position: -224px -66px;
}

.flag.flag-de {
  background-position: -32px -33px;
}

.flag.flag-np {
  background-position: 0 -110px;
}

.flag.flag-re {
  background-position: -48px -121px;
}

.flag.flag-bg {
  background-position: -64px -11px;
}

.flag.flag-sc {
  background-position: -160px -121px;
}

.flag.flag-ng {
  background-position: -208px -99px;
}

.flag.flag-qa {
  background-position: -32px -121px;
}

.flag.flag-mk {
  background-position: -160px -88px;
}

.flag.flag-aw {
  background-position: -208px 0;
}

.flag.flag-kn {
  background-position: -48px -77px;
}

.flag.flag-al {
  background-position: -80px 0;
}

.flag.flag-bw {
  background-position: -240px -11px;
}

.flag.flag-um {
  background-position: -256px -143px;
}

.flag.flag-ky {
  background-position: -128px -77px;
}

.flag.flag-tt {
  background-position: -160px -143px;
}

.flag.flag-so {
  background-position: -80px -132px;
}

.flag.flag-lt {
  background-position: 0 -88px;
}

.flag.flag-by {
  background-position: -256px -11px;
}

.flag.flag-bb {
  background-position: 0 -11px;
}

.flag.flag-us {
  background-position: 0 -154px;
}

.flag.flag-md {
  background-position: -96px -88px;
}

.flag.flag-ag {
  background-position: -48px 0;
}

.flag.flag-hm {
  background-position: -160px -55px;
}

.flag.flag-as {
  background-position: -160px 0;
}

.flag.flag-eg {
  background-position: -160px -33px;
}

.flag.flag-sv {
  background-position: -160px -132px;
}

.flag.flag-sl {
  background-position: -32px -132px;
}

.flag.flag-fk {
  background-position: -32px -44px;
}

.flag.flag-am {
  background-position: -96px 0;
}

.flag.flag-ck {
  background-position: -128px -22px;
}

.flag.flag-tw {
  background-position: -192px -143px;
}

.flag.flag-kh {
  background-position: 0 -77px;
}

.flag.flag-to {
  background-position: -128px -143px;
}

.flag.flag-se {
  background-position: -208px -121px;
}

.flag.flag-cd {
  background-position: -48px -22px;
}

.flag.flag-pn {
  background-position: -208px -110px;
}

.flag.flag-gr {
  background-position: -48px -55px;
}

.flag.flag-id {
  background-position: -256px -55px;
}

.flag.flag-vc {
  background-position: -64px -154px;
}

.flag.flag-somaliland {
  background-position: -96px -132px;
}

.flag.flag-bi {
  background-position: -96px -11px;
}

.flag.flag-pk {
  background-position: -160px -110px;
}

.flag.flag-pr {
  background-position: -224px -110px;
}

.flag.flag-bd {
  background-position: -16px -11px;
}

.flag.flag-co {
  background-position: -192px -22px;
}

.flag.flag-fm {
  background-position: -48px -44px;
}

.flag.flag-bm {
  background-position: -128px -11px;
}

.flag.flag-ar {
  background-position: -144px 0;
}

.flag.flag-bv {
  background-position: -224px -11px;
}

.flag.flag-sb {
  background-position: -144px -121px;
}

.flag.flag-mq {
  background-position: -256px -88px;
}

.flag.flag-eh {
  background-position: -176px -33px;
}

.flag.flag-bh {
  background-position: -80px -11px;
}

.flag.flag-it {
  background-position: -144px -66px;
}

.flag.flag-hr {
  background-position: -192px -55px;
}

.flag.flag-sa {
  background-position: -128px -121px;
}

.flag.flag-mv {
  background-position: -64px -99px;
}

.flag.flag-mg {
  background-position: -128px -88px;
}

.flag.flag-dz {
  background-position: -112px -33px;
}

.flag.flag-gg {
  background-position: -192px -44px;
}

.flag.flag-gm {
  background-position: -256px -44px;
}

.flag.flag-af {
  background-position: -32px 0;
}

.flag.flag-li {
  background-position: -208px -77px;
}

.flag.flag-sr {
  background-position: -112px -132px;
}

.flag.flag-vg {
  background-position: -96px -154px;
}

.flag.flag-cr {
  background-position: -208px -22px;
}

.flag.flag-tc {
  background-position: -224px -132px;
}

.flag.flag-ao {
  background-position: -128px 0;
}

.flag.flag-ma {
  background-position: -64px -88px;
}

.flag.flag-mr {
  background-position: 0 -99px;
}

.flag.flag-gn {
  background-position: 0 -55px;
}

.flag.flag-ne {
  background-position: -176px -99px;
}

.flag.flag-nf {
  background-position: -192px -99px;
}

.flag.flag-wf {
  background-position: -176px -154px;
}

.flag.flag-hk {
  background-position: -144px -55px;
}

.flag.flag-gf {
  background-position: -160px -44px;
}

.flag.flag-ps {
  background-position: -240px -110px;
}

.flag.flag-ic {
  background-position: -240px -55px;
}

.flag.flag-cw {
  background-position: -256px -22px;
}

.flag.flag-ml {
  background-position: -176px -88px;
}

.flag.flag-ax {
  background-position: -224px 0;
}

.flag.flag-gl {
  background-position: -240px -44px;
}

.flag.flag-dj {
  background-position: -48px -33px;
}

.flag.flag-cn {
  background-position: -176px -22px;
}

.flag.flag-ht {
  background-position: -208px -55px;
}

.flag.flag-lr {
  background-position: -240px -77px;
}

.flag.flag-tg {
  background-position: 0 -143px;
}

.flag.flag-ba {
  background-position: -256px 0;
}

.flag.flag-ge {
  background-position: -144px -44px;
}

.flag.flag-bz {
  background-position: 0 -22px;
}

.flag.flag-au {
  background-position: -192px 0;
}

.flag.flag-iq {
  background-position: -96px -66px;
}

.flag.flag-cm {
  background-position: -160px -22px;
}

.flag.flag-gw {
  background-position: -112px -55px;
}

.flag.flag-az {
  background-position: -240px 0;
}

.flag.flag-na {
  background-position: -144px -99px;
}

.flag.flag-fj {
  background-position: -16px -44px;
}

.flag.flag-zw {
  background-position: -32px -165px;
}

.flag.flag-bs {
  background-position: -192px -11px;
}

.flag.flag-il {
  background-position: -16px -66px;
}

.flag.flag-nz {
  background-position: -48px -110px;
}

.flag.flag-me {
  background-position: -112px -88px;
}

.flag.flag-si {
  background-position: -256px -121px;
}

.flag.flag-nc {
  background-position: -160px -99px;
}

.flag.flag-lb {
  background-position: -176px -77px;
}

body {
  font-size: 14px;
  color: #2c323f;
  background-color: #eceeee;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
input[type="button"],
input[type="submit"],
input[type="clear"],
button,
textarea,
select {
  font: normal 14px/1.4 "Poppins", sans-serif;
}

.cs-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 15px 0;
  color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(#5ccbd0), to(#32a8ad));
  background-image: linear-gradient(-90deg, #5ccbd0 0%, #32a8ad 100%);
  -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
          box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
  -webkit-transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1) padding;
  transition: 0.35s cubic-bezier(0.075, 0.82, 0.165, 1) padding;
}

.cs-header .container-fluid {
  padding: 0 35px;
}

.cs-header .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cs-header--logo > a {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.cs-header--logo > a img {
  max-width: 150px;
  display: block;
}

.cs-header--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-header--options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-header--options li {
  margin-right: 25px;
}

.cs-header--options li a {
  padding: 5px;
  display: block;
  position: relative;
}

.cs-header--options li a svg {
  display: block;
  width: 22px;
  stroke: #fff;
}

.cs-header--options-count {
  position: absolute;
  right: -5px;
  top: -6px;
  color: #fff;
  display: block;
  font-size: 12px;
  padding: 2px 5px;
  min-width: 20px;
  font-weight: 500;
  border-radius: 50%;
  text-align: center;
  background-color: #292929;
}

.cs-header--user {
  position: relative;
}

.cs-header--user-info {
  font-size: 14px;
  font-weight: 500;
  margin-left: 10px;
}

.cs-header--user > a {
  display: block;
}

.cs-header--user > a img {
  width: 40px;
  height: 40px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.cs-header--user:hover .cs-header--user-dropdown {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.cs-header--user-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  width: 160px;
  padding: 10px;
  margin-top: 15px;
  visibility: hidden;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  -webkit-transition: all linear 0.2s;
  transition: all linear 0.2s;
  -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
          box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
}

.cs-header--user-dropdown:before, .cs-header--user-dropdown:before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: -7px;
  right: 10px;
  z-index: 2;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.cs-header--user-dropdown:after {
  z-index: 1;
  border-bottom: 7px solid #bdc2c5;
}

.cs-header--user-dropdown li {
  padding: 10px;
}

.cs-header--user-dropdown li + li {
  padding-top: 0;
}

.cs-header--user-dropdown li a {
  display: block;
  font-size: 15px;
  font-weight: 500;
  -webkit-transition: 0.2s ease color;
  transition: 0.2s ease color;
}

.cs-header--user-dropdown li a svg {
  width: 20px;
  margin-right: 10px;
  vertical-align: middle;
  -webkit-transition: 0.2s ease stroke;
  transition: 0.2s ease stroke;
}

.cs-header--user-dropdown li a:hover {
  color: #5ccbd0;
}

.cs-header--user-dropdown li a:hover svg {
  stroke: #5ccbd0;
}

.cs-header--user-dropdown li:last-child {
  padding-top: 10px;
  border-top: 1px solid #ecf3fa;
}

.cs-profile-wrap {
  padding-top: 70px;
}

.cs-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cs-nav ul li {
  display: block;
  margin-right: 10px;
}

.cs-nav ul li:last-child {
  margin-right: 0;
}

.cs-nav ul li a {
  color: #fff;
  position: relative;
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  padding: 8px 15px;
  border-radius: 10px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cs-nav ul li a svg {
  width: 18px;
  stroke: #fff;
  margin-right: 5px;
  stroke-width: 2.3px;
  display: inline-block;
  vertical-align: bottom;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.cs-nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cs-nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.1);
}

.cs-mainwrap {
  padding: 20px;
  margin-top: 10px;
}

.cs-col-320 {
  width: 350px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 350px;
          flex: 0 0 350px;
  max-width: 350px;
}

.cs-col-grow {
  min-width: 0;
  width: calc(100% - 350px);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 calc(100% - 350px);
          flex: 0 0 calc(100% - 350px);
  max-width: calc(100% - 350px);
}

.cs-col-grow.pd-20 {
  padding-left: 20px;
}

.btn {
  cursor: pointer;
  color: #3f4254;
  line-height: 1.5;
  margin-right: 5px;
  text-align: center;
  font-weight: normal;
  display: inline-block;
  border-radius: 0.85rem;
  padding: 0.5rem 0.85rem;
  vertical-align: middle;
  background-color: transparent;
  border: 1px solid transparent;
  -webkit-transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
}

.btn:last-child {
  margin-right: 0;
}

.btn.btn-sm {
  padding: 0.2rem 0.75rem;
  border-radius: 0.45rem;
}

.btn.btn-primary {
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #292929;
  border-color: #292929;
}

.btn.btn-primary:hover {
  background-color: #151515;
  border-color: #151515;
}

.btn.btn-success {
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #5ccbd0;
  border-color: #5ccbd0;
}

.btn.btn-success:hover {
  background-color: #3cc1c7;
  border-color: #3cc1c7;
}

.btn.btn-pink {
  color: #ffffff;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #f05c5c;
  border-color: #f05c5c;
}

.btn.btn-pink:hover {
  background-color: #ed3737;
  border-color: #ed3737;
}

.btn.btn-secondary {
  color: #181c32;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #e4e6ef;
  border-color: #e4e6ef;
}

.btn.btn-secondary:hover {
  background-color: #cacee0;
  border-color: #cacee0;
}

.cs-navi--item {
  margin-bottom: 10px;
}

.cs-navi--item:last-child {
  margin-bottom: 0;
}

.cs-navi--title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 1.2rem;
  padding: 0.6rem 0.55rem;
  border-bottom: 1px solid #ebedf3;
}

.cs-navi--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.6rem 0.55rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.85rem;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.cs-navi--link:hover {
  color: #5ccbd0;
  background-color: #f3f6f9;
}

.cs-navi--link:hover.cs-navi--icon svg {
  stroke: #5ccbd0;
}

.cs-navi--link.active {
  color: #fff;
  background-image: -webkit-gradient(linear, right top, left top, from(#5ccbd0), to(#32a8ad));
  background-image: linear-gradient(-90deg, #5ccbd0 0%, #32a8ad 100%);
  -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
          box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
}

.cs-navi--link.active .cs-navi--icon svg {
  stroke: #fff;
}

.cs-navi--link.danger {
  color: #fff;
  background-color: #f05c5c;
  -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
          box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
}

.cs-navi--link.danger .cs-navi--icon svg {
  stroke: #fff;
}

.cs-navi--link.muted {
  color: #fff;
  background-color: #aaaaaa;
  -webkit-box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
          box-shadow: 0 0 20px rgba(89, 102, 122, 0.1);
}

.cs-navi--link.muted .cs-navi--icon svg {
  stroke: #fff;
}

.cs-navi--icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2rem;
          flex: 0 0 2rem;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cs-navi--icon svg {
  width: 22px;
}

.cs-navi--text {
  font-weight: 400;
}

.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 0;
  margin-bottom: 25px;
  word-wrap: break-word;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.42rem;
  background-color: #fff;
  background-clip: border-box;
  -webkit-box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
          box-shadow: 0 0 37px rgba(8, 21, 66, 0.05);
}

.card.no-margin {
  margin-bottom: 0;
}

.card .card-header {
  margin-bottom: 0;
  padding: 1rem 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #ebedf3;
}

.card .card-header:first-child {
  border-radius: 0.42rem 0.42rem 0 0;
}

.card .card-header .card-label {
  font-weight: 500;
  font-size: 16px;
  color: #181c32;
}

.card .card-header .card-label-sub {
  font-size: 12px;
  color: #b5b5c3;
}

.card .card-body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}

.card .card-body .form-group {
  font-size: 13px;
  font-weight: 400;
  color: #3f4254;
  margin-bottom: 1.75rem;
}

.card .card-body .form-group--title {
  font-size: 1rem;
  font-weight: 600;
}

.card .card-body .form-group--sm-text {
  margin: 5px 0;
  font-size: 0.7rem;
  font-weight: 400;
  color: #b5b5c3;
}

.card .card-body .form-group .text-sm {
  font-weight: 500;
  color: #5ccbd0;
  text-decoration: underline;
}

.card .card-body .form-group .col-form-label {
  padding: 5px;
}

.card .card-body .form-group .form-control {
  border: none;
  display: block;
  width: 100%;
  height: 44px;
  font-size: 14px;
  font-weight: 400;
  color: #3f4254;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-align: left;
  margin-bottom: 0.5rem;
  border-radius: 0.85rem;
  padding: 0.825rem 1rem;
  background-color: #f3f6f9;
  -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.card .card-body .form-group textarea.form-control {
  resize: none;
  height: 130px;
}

.card .card-body .form-group .checkbox-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card .card-body .form-group .checkbox-inline .checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #3f4254;
  margin-right: 1rem;
  margin-bottom: 0.35rem;
}

.card .card-body .form-group .checkbox-inline .checkbox > input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.card .card-body .form-group .checkbox-inline .checkbox > input:checked ~ span {
  background-color: #5ccbd0;
}

.card .card-body .form-group .checkbox-inline .checkbox > input:checked ~ span:after {
  display: block;
  border-color: #fff;
}

.card .card-body .form-group .checkbox-inline .checkbox > span {
  height: 18px;
  width: 18px;
  margin-right: 0.75rem;
  background-color: #ebedf3;
  border: 1px solid transparent;
}

.card .card-body .form-group .checkbox-inline .checkbox > span:after {
  content: "";
  width: 5px;
  height: 10px;
  margin: 0 auto;
  border-style: solid;
  border-color: transparent;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.card .card-body .form-group--file-upload {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 15px;
  border-radius: 0.85rem;
  background-image: url("../profile/images/user-blank.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
          box-shadow: 0 0.5rem 1.5rem 0.5rem rgba(0, 0, 0, 0.075);
}

.card .card-body .form-group--file-upload-icon {
  position: absolute;
  cursor: pointer;
  height: 24px;
  width: 24px;
  right: -10px;
  top: -10px;
  z-index: 2;
  display: block;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25);
          box-shadow: 0px 9px 16px 0px rgba(24, 28, 50, 0.25);
}

.card .card-body .form-group--file-upload-icon svg {
  width: 15px;
  display: block;
  margin: 0 auto;
}

.card .card-body .form-group--file-upload-icon input[type="file"] {
  width: 0 !important;
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.card .card-body .form-group .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card .card-body .form-group .btn > svg {
  margin-right: 10px;
}

.cs-profile--img {
  width: 100px;
  height: 100px;
  border-radius: 0.85rem;
}

.cs-profile--img img {
  width: 100px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.85rem;
}

.cs-profile--info {
  padding-left: 1.25rem;
}

.cs-profile--info > a {
  font-size: 16px;
  font-weight: 600;
}

.cs-profile--info > p {
  color: #b5b5c3;
  font-size: 12px;
}

.cs-profile--desc {
  margin: 20px 0;
}

.cs-profile--action {
  margin-top: 10px;
}

.cs-profile--action .btn {
  padding: 0.2rem 0.6rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-profile--action .btn svg {
  width: 15px;
  margin-right: 5px;
}

.cs-profile-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cs-profile-images--item {
  outline: none;
  padding: 0 10px;
}

.cs-profile-images--item img {
  margin: 0 auto;
  width: 300px;
  border-radius: 4px;
}

.cs-profile-images .slick-list {
  margin: 0 10px;
}

.cs-profile-images .slick-arrow {
  position: relative;
  width: 30px;
  height: 30px;
  border: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  cursor: pointer;
  border-radius: 50%;
  text-indent: -9999px;
  display: inline-block;
  vertical-align: middle;
  background-color: #5ccbd0;
}

.cs-profile-images .slick-arrow:before {
  position: absolute;
  content: "";
  width: 9px;
  height: 9px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.cs-profile-images .slick-arrow.slick-prev:before {
  left: 5px;
  -webkit-transform: rotate(-45deg) scale(-1);
          transform: rotate(-45deg) scale(-1);
}

.cs-profile-images .slick-arrow.slick-next:before {
  right: 4px;
}

.cs-user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cs-user-info li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 33.33%;
  padding: 0 10px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.cs-user-info--icon {
  width: 35px;
  height: 35px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35px;
          flex: 0 0 35px;
  padding-top: 6px;
  border-radius: 50%;
  background-color: #292929;
}

.cs-user-info--icon svg {
  width: 20px;
  display: block;
  margin: 0 auto;
  stroke: #fff;
}

.cs-user-info--desc {
  padding-left: 15px;
}

.cs-user-info--desc strong {
  display: block;
  font-size: 14px;
  font-weight: 600;
}

.cs-user-info--desc span {
  font-size: 12px;
}
/*# sourceMappingURL=profile-pages.css.map */